/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of NamespaceSwitch
 *
 * @author songsz
 * @date 2018-05-22
 */
@import '~assets/style/core/index.less';

.container {
  display: flex;
  align-items: center;
  height: 40px;
  .divider {
    border-right: 1px solid #c9c9c9;
    height: 20px;
    margin: 0 @padding-small;
  }
  .bigDivider {
    border-right: 1px solid #c9c9c9;
    height: 54px;
    margin-left: -13px;
    margin-right: @padding-small;
  }
  .productionIcon {
    margin-right: @padding-base;
  }
}
