/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Sider component style
 *
 * 2017-08-16
 * @author zhangpc
 */

 .layout-sider {
  left: 0;
  margin-top: 82px;
  margin-left: 50px;
}