<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body spellcheck="false">
  <script>
    // load svg
    (function loadSvg() {
      var svgHash = '<%= htmlWebpackPlugin.options.svgHash %>';
      var canUseLS = !!localStorage && !!localStorage.getItem && !!localStorage.setItem
      var div = document.createElement('div');
      div.style.display = 'none';
      document.body.appendChild(div);
      function xhrLoadSvg(url, cb) {
        var xhr = new XMLHttpRequest();
        xhr.open('get', url);
        xhr.onload = function() {
          var data = xhr.responseText
          if (data) {
            div.innerHTML = data;
            cb(data)
          }
        };
        xhr.send(null);
      }
      try {
        if (canUseLS) {
          var _svg_hash = localStorage.getItem('_svg_hash');
          var _svg = localStorage.getItem('_svg');
          if (_svg && _svg_hash === svgHash) {
            div.innerHTML = _svg;
            return;
          }
        }
        var publicPath = '<%= htmlWebpackPlugin.options.publicPath %>';
        var svgUrl = publicPath + 'sprite.' + svgHash + '.svg';
        xhrLoadSvg(svgUrl, function xhrLoadSvgCb(data) {
          if (canUseLS) {
            localStorage.setItem('_svg_hash', svgHash)
            localStorage.setItem('_svg', data)
          }
        })
      } catch (error) {
        console.error('load svg failed', error)
      }
    })();
  </script>
  <div id="root">
  </div>
  <script>
    window.__INITIAL_STATE__ = <%= htmlWebpackPlugin.options.initialState %>
  </script>
</body>

</html>
