/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * My Subscribed Service Less
 *
 * 2017-12-05
 * @author zhangcz
 */
@import '~assets/style/core/index.less';

#my-subscribed-ervice {
  background-color: #fff;
  padding: 24px;
  .showType {
    margin-bottom: 20px;
    .ant-col-5 {
      width: 120px;
      text-align: left;
    }
  }
  .handler-row {
    height: 56px;
    .ant-btn-primary {
      float: left;
    }
    .ant-input-group-compact {
      width: 400px;
      float: left;
      .ant-select {
        width: 110px;
      }
      .serch-style {
        width: 180px;
      }
    }
    .page-box {
      float: right;
      .total {
        margin-right: 18px;
        line-height: 24px;
      }
      .ant-pagination-simple {
        float: right;
      }
    }
  }
  .ant-card-body {
    padding: 0;
    .ant-table-expanded-row {
      > td:last-of-type {
        padding: 0;
      }
    }
    .ant-table-expanded-row:hover {
      .ant-table-thead > tr > th {
        background-color: #f2fdff;
      }
    }
  }
  .evidenceId-style {
    position: relative;
    .new-icon {
      position: absolute;
      top: -50%;
      right: -70%;
      background-color: #0b0;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      color: white;
      line-height: 18px;
      text-align: center;
    }
  }
  .no-service {
    line-height: 64px;
    height: 64px;
    color: @primary-color;
  }
  .ant-card-bordered {
    border: none;
  }
  .anticon-question-circle-o {
    margin-left: 8px;
  }
}
