/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Service API Doc Less
 *
 * 2017-12-05
 * @author zhangcz
 */
@import '~assets/style/core/index.less';

.service-api-doc {
  .loading-status {
    text-align: center;
  }
  .header {
    color: #666;
  }
  .ant-row {
    margin-bottom: 20px;
  }
  .status {
    width: 60px;
    height: 24px;
    border: 1px solid @primary-color;
    color: @primary-color;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    background: #eaf9fe;
  }
}
