/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * MsaDetail-list style
 *
 * 2017-09-13
 * @author zhangxuan
 */

@import '../../../../../../assets/style/core/index.less';

.msaDetailList {
  &-table {
    position: relative;
    .ant-pagination {
      position: absolute;
      right: 0;
      top: -62px;
    }
  }
}
