.noclustersOrPrjects {
  position: relative;
  height: 100vh - 10px;
  font-size: 14px;
  img {
    display: block;
    margin: 0 auto;
  }
  span {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .noclustersOrPrjectsinfoWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 440px;
    height: 258px;
    margin-top: -129px;
    margin-left: -220px;
  }
}