/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Apply for CSB Instance Modal Less
 *
 * 2017-12-05
 * @author zhangcz
 */
 @import '~assets/style/core/index.less';

.ApplyforCSBInstanceModal {
  .row-style {
    margin-bottom: 24px;
    .ant-col-5 {
      text-align: right;
      padding-right: 10px;
      color: #666;
    }
  }
  .check {
    text-align: center;
    i {
      font-size: 80px;
      color: @success-color;
    }
    .desc {
      font-size: 14px;
      margin-top: 10px;
      color: @success-color;
    }
    & > div:last-child {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .ant-checkbox-group {
    height: 39px;
    padding-top: 9px;
  }
  .ant-form-explain {
    padding-bottom: 4px;
  }
}
