/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Blacklist && Whitelist Less
 *
 * 2017-12-05
 * @author zhangcz
 */
@import "../../../../../assets/style/core/index.less";

.blackAndWhiteList {
  .ant-modal-body {
    padding: 24px 0;
  }
  .anticon-delete {
    cursor: pointer;
  }
  .anticon-question-circle-o {
    margin-left: 8px;
  }
  .row-style {
    margin-bottom: 20px;
    padding: 0 24px;
  }
  .add-row {
    padding: 0 0 20px 0;
    border-bottom: 1px dashed @border-color-base;
  }
  .ant-input {
    width: 355px;
    margin-right: 12px;
  }
  .add-btn {
    width: 355px;
  }
  .reset-form-label-style {
    .ant-form-item-label {
      > label:after {
        display: none;
      }
    }
  }
  .alert {
    margin: 0 25px;
    border: 1px dashed @primary-color;
    padding: @padding-base;
    margin-bottom: @padding-medium;
    border-radius: @border-radius-base;
    background: #e6f7ff;
    color: @primary-color;
    i {
      margin-right: 4px;
      font-size: 14px;
    }
 }
}
