/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Blacklist && Whitelist Less
 *
 * 2017-12-05
 * @author zhangcz
 */

.blackAndWhiteList {
  .anticon-delete {
    cursor: pointer;
  }
  .anticon-question-circle-o {
    margin-left: 8px;
  }
  .row-style {
    margin-bottom: 20px;
  }
  .ant-input {
    width: 355px;
    margin-right: 12px;
  }
  .add-btn {
    width: 355px;
  }
}
