/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * My Published Services Less
 *
 * 2017-12-05
 * @author zhangcz
 */

@import "../../../../../assets/style/core/index.less";

#my-published-services {
  padding: @padding-medium;
  background: #fff;
  .showType {
    margin-bottom: @padding-medium;
    label {
      display: inline-block;
      width: 100px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
  .ant-input-group-wrapper,
  .search-input {
    width: 280px;
  }
  .page-box {
    float: right;
    .total {
      margin-right: 18px;
      line-height: 24px;
    }
    .ant-pagination-simple {
      float: right;
    }
  }
  .ant-card-bordered {
    border: none;
  }
  .ant-card-body {
    padding: 0;
  }
  .status-icon {
    height: 12px;
    width: 12px;
    margin: 2px 8px 0 0;
    float: left;
    border-radius: 50%;
    vertical-align: middle;
  }
  .activated {
    color: @success-color;
    line-height: 18px;
    .status-icon {
      background: @success-color;
    }
  }
  .cancelled {
    color: @error-color;
    .status-icon {
      background: @error-color;
    }
  }
  .deactivated {
    color: #666;
    .status-icon {
      background: #666;
    }
  }
}
