/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of ServiceOrGroupSwitch
 *
 * 2017-12-28
 * @author zhangpc
 */

.service-or-group-switch {
  label {
    display: inline-block;
    width: 100px;
    color: rgba(0, 0, 0, 0.85);
  }
}
