/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2019 03nxCloud. All Rights Reserved.
 */

/**
 * grouplist style
 *
 * 2019-03-04
 * @author rensiwei
 */

 @import '~assets/style/core/index.less';

 .api-group-list {
   &-search {
     width: 200px !important;
   }
   &-table {
     position: relative;
     .ant-pagination {
       position: absolute;
       right: 0;
       top: -78px;
     }
   }
   &-total {
     margin-right: 190px;
     line-height: 28px;
   }
   .detailBtn {
     margin-right: 10px;
   }
 }
