/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * log list style
 *
 * 2018-2-1
 * @author zhangcz
 */
@import "../../../assets/style/core/index.less";

.normal-style {
  width: 100%;
  color: #fff;
  background: #000;
  .no-log-style {
    padding: 10px;
    color: @success-color;
  }
  .list-style {
    outline: none;
  }
  .log-item-style {
    padding: 0 10px;
    min-height: 14px !important;
    height: auto !important;

    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
    .timeSpan,
    .markSpan,
    .nameSpan {
      padding-right: 8px;
    }
    .timeSpan {
      color: #ff0;
    }
    .markSpan {
      color: rgb(87, 197, 247);
    }
    .nameSpan {
      color: orange;
    }
  }
  ::-webkit-scrollbar-thumb {
    color: red;
    background: blue !important;
    width: 12px;
    height: 24px;
  }
}
.small-style {
  height: 550px;
}
.big-style {
  height: calc(~"100% - 40px");
}
