/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * log templage style
 *
 * 2018-2-1
 * @author zhangcz
 */
@import "../../../assets/style/core/index.less";
#log-template {
  //background: #000;
  .tenx-ui-logs-header {
    display: flex;
    justify-content: flex-end;
  }
  .log-item {
    margin-bottom: @padding-base;
  }
  .log-name {
    color: @warning-color;
  }
  .operaBox {
    //position: absolute;
    //top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    text-align: right;
    padding-right: 10px;
    >.anticon {
      color: #5cb85c;
      font-size: 14px;
      cursor: pointer;
      margin-left: 8px;
    }
    >.anticon:first-of-type {
      margin-left: 12px;
    }
  }
  .log-list-body {
    //position: absolute;
    //top: 40px;
    width: 100%;
  }
}
