/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * ComponentManagement style
 *
 * 2018-09-30
 * @author zhaoyb
 */
 @import "../../../../../assets/style/core/index.less";

.create-component {
  .create-component-btn {
    .back {
      display: inline-block;
      float: left;
      height: 40px;
      .backjia {
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 15px solid #00b8f2;
        font-size: 0;
        line-height: 0;
      }
      .btn-back {
        display: inline-block;
        background: #00b8f2;
        color: white;
        height: 30px;
        line-height: 28px;
        vertical-align: top;
        padding-right: 10px;
        padding-left: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
      }
    }
    .title {
      vertical-align: middle;
      line-height: 30px;
      padding-left: 10px;
      border-left: 5px solid #00a0e9;
      margin-right: 50px;
    }
  }
  .create-component-top {
    .create-component-body {
      .form-title {
        padding-left: 3.5%;
        margin-bottom: 30px;
        .service-desc {
          color: #ccc;
          margin-left: 20px;
        }
        .tip {
          padding: 20px 0 10px 10px;
          margin-left: 4%;
        }
      }
      .service {
        margin-right: 10px;
      }
      .dotted {
        border-bottom: 1px dashed @border-color-base;
        margin-bottom: 20px;
        span {
          margin-left: 3%;
          font-size: 15px;
          color: #2db7f5;
        }
      }
      .serviceHeader {
        width: 64%;
        margin-left: 6%;
        background-color: #f2f2f2;
        margin-top: 15px;
        & > div {
          padding: 15px 25px;
        }
        & > div:last-child {
          margin-left: 15px;
        }
        border: @border-width-base @border-style-base @border-color-base;
        border-bottom: none;
      }
      .serviceList {
        width: 64%;
        margin-left: 6%;
        & > div {
          padding: 15px 0 10px 15px;
          .ant-form-item {
            margin-bottom: 0;
          }
        }
        border: @border-width-base @border-style-base @border-color-base;
        &:not(:last-of-type) {
          border-bottom: none;
        }
      }
    }
  }
  .btn-bottom {
    margin-left: 10.5%;
    .cancel {
      margin-right: 20px;
    }
  }
  .bottom-soild {
    border-top: 1px solid #ccc;
    position: relative;
    top: -67px;
  }
}
