/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style Call link tracking relationship
 *
 * @author zhaoyb
 * @date 2018-07-06
 */
.relation-ship {
  .timer {
    display: inline-block;
    margin-bottom: 20px;
    .btn {
      border-radius: 0;
    }
    .picker {
      margin-right: 30px;
    }
    div {
      display: inline-block;
    }
  }
}
