/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style Call link tracking relationship
 *
 * @author zhaoyb
 * @date 2018-07-06
 */
.relation-ship {
  .timer {
    display: inline-block;
    margin-bottom: 20px;
    .btn {
      border-radius: 0;
    }
    .picker {
      margin-right: 30px;
    }
    div {
      display: inline-block;
    }
  }
  .tip {
    margin-left: 10px;
  }
}

.ant-tooltip-inner {
  max-width: 300px;
  .content {
    margin-left: 70px;
  }
  .line {
    border-bottom: 2px solid #2db75f;
    width: 50px;
    display: block;
    position: absolute;
  }
  .arrow {
    margin-left: -6px;
    border-style: dashed solid dashed dashed;
    border-color: transparent transparent transparent #2db75f;
    border-width: 5px;
    width: 0;
    height: 0;
  }
  .allLine {
    top: 58px;
  }
  .allArrow {
    position: absolute;
    top: 54px;
    left: 72px;
  }
  .partLine {
    border-bottom: 2px dashed #2db75f;
    top: 76px;
  }
  .partArrow {
    position: absolute;
    top: 72px;
    left: 72px;
  }
  .errorLine {
    border-bottom: 2px solid red;
    top: 95px;
  }
  .errorArrow {
    border-color: transparent transparent transparent red;
    position: absolute;
    top: 91px;
    left: 72px;
  }
}
