.certification-clients {
  .ant-table-thead > tr > th {
    border-bottom: 1px solid #e9e9e9;
    background: initial;
  }
  .ant-pagination {
    position: absolute;
    right: -30px;
    top: -90px;
  }
}
