{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "iOS >= 9",
            "safari >= 7",
            "IE 11"
          ]
        },
        "debug": true,
        "useBuiltIns": "entry",
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  },
  "plugins": [
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib"
      }
    ]
  ]
}