/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of Service Groups
 *
 * 2017-12-28
 * @author zhangpc
 */

 @import '~assets/style/core/index.less';

.service-groups-body {
  .ant-table-small {
    border: none;
    & > .ant-table-content > .ant-table-body > table {
      padding: 0;
      margin: 0 8px;
      & > .ant-table-thead > tr > th {
        color: @font-color-2;
      }
    }
  }
}
