/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * DubboOV.less page
 *
 * @author zhangtao
 * @date Friday December 21st 2018
 */
 @import "../../../assets/style/core/index.less";
.DubboOV {
  .ant-card-body {
    padding: 16px 16px 10px 16px;
  }
  .SliderChart {
    position: relative;
    .centerText {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .messageBox {
    padding-top: 34px;
    > div {
      display: flex;
      justify-content: space-between;
      height: 24px;
    }
    .color1 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #f7565c;
      }
    }
    .color2 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #ffbf00;
      }
    }
    .color3 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #2abe84;
      }
    }
    .color4 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #43b3fb;
      }
    }
  }
}
.DubboOVunInstall {
  height: 249px;
  background-color: white;
  position: relative;
  text-align: center;
  .infoWrap {
    img {
      display: inline-block;
    }
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .info {
      color: @font-color-4;
      line-height: 24px;
    }
  }
}
