/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * index.less page
 *
 * @author zhangtao
 * @date Monday December 17th 2018
 */
 @import "../../../assets/style/core/index.less";
.overviewWrap {
  padding: @padding-medium;
  .ant-card-head-title {
    color: @font-color-2 !important;
   }
  .secondSection {
    margin-top: @padding-small;
  }
}
