/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * MSDTCOV.less page
 *
 * @author zhangtao
 * @date Monday December 24th 2018
 */
@import "../../../assets/style/core/index.less";
.MSDTCOV {
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .info {
    font-size: 14px;
  }
  .SliderChart {
    margin: 10px 0;
    position: relative;
    .centerText {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .messageBox {
    padding-top: 34px;
    > div {
      display: flex;
      justify-content: space-between;
      height: 24px;
    }
    .color1 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #f7565c;
      }
    }
    .color2 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #ffbf00;
      }
    }
    .color3 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #2abe84;
      }
    }
    .color4 {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #43b3fb;
      }
    }
  }
  .grey {
    color: @font-color-3;
  }
}
