/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * PerformanceOV.less page
 *
 * @author zhangtao
 * @date Monday December 24th 2018
 */
@import "../../../assets/style/core/index.less";
.PerformanceOVInstall {
  height: 290px;
  position: relative;
  text-align: center;
  background-color: white;
  .infoWrap {
    img {
      display: inline-block;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .info {
      color: @font-color-4;
      line-height: 24px;
    }
  }
}
.PerformanceOV {
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .info {
    font-size: 14px;
  }
  .grey {
    color: @font-color-3;
  }
}
