/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * PerformanceOV.less page
 *
 * @author zhangtao
 * @date Monday December 24th 2018
 */

.PerformanceOV {
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .info {
    font-size: 14px;
  }
}
