/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * ServiceMeshOV.less page
 *
 * @author zhangtao
 * @date Friday December 21st 2018
 */
@import "../../../assets/style/core/index.less";
.ServiceMeshOV {
  margin-bottom: @padding-small !important;
  .info {
    text-align: center;
  }
  .split {
    > div {
      border-right: 1px solid @border-color-split;
    }
  }
}
.ServiceMeshOVunInstall {
  height: 154px;
  margin-bottom: 16px;
  background-color: white;
  position: relative;
  text-align: center;
  .infoWrap {
    img {
      display: inline-block;
    }
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .info {
      color: @font-color-4;
      line-height: 24px;
    }
  }
}
