/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * SplashesChar.less page
 *
 * @author zhangtao
 * @date Tuesday December 18th 2018
 */
@import "../../../assets/style/core/index.less";
.SplashesCharWrap {
  position: relative;
  margin: 24px 0;
  padding: 0 24px;
  border-right: 1px solid #e9e9e9;
  .head {
    line-height: 14px;
    font-size: 14px;
    height: 20px;
    color: #333;
  }
  .heightInfo {
    position: absolute;
    right: 24px;
    bottom: 20px;
  }
  .weightInfo {
    padding-left: 41px;
  }
}
