/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * SpringCloudOV.less page
 *
 * @author zhangtao
 * @date Monday December 17th 2018
 */
@import "../../../assets/style/core/index.less";
 .SpringCloudOV {
   background: white;
   .ant-card-body {
     padding: 0;
   }
   .content-one {
    border-bottom: 1px solid #e9e9e9;
    .dataTip {
      margin: @padding-medium 0;
      padding: 0 @padding-small;
      border-right: 1px solid #e9e9e9;
      > div {
        color: @font-color-2;
        height: 24px;
        line-height: 24px;
        justify-content: space-between;
        display: flex;
        i {
          padding-right: 4px;
        }
      }
      .color1 {
        color: #2fb6f6;
      }
      .color2 {
        color: #29bf82;
      }
      .color3 {
        color: #f5585f;
      }
      .color4 {
        color: #2db7f5;
      }
    }
    .noBorder {
      border: none;
    }
    .title {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      margin-bottom: @padding-base;
      color: @font-color-1 !important;
    }
   }
 }
