@import '~assets/style/core/index.less';

.mesh-gateway-card {
  width: 350px;
  height: 200px;
  background: #fff;
  border-radius: @border-radius-base;
  margin: 10px;
  .top {
    height: 140px;
    padding: @padding-large;
    box-sizing: border-box;
    display: flex;
    .top-icon {
      font-size: 50px;
      color: @primary-color;
    }
    .card-right {
      margin-left: 28px;
      .title {
        font-size: 14px;
        margin-bottom: 4px;
        .warning-no-out {
          color: @warning-color;
          cursor: pointer;
          margin-left: @padding-base;
        }
      }
      .out-address {
        margin-bottom: 4px;
      }
    }
  }
  .actions {
    height: 60px;
    border-top: 1px solid @border-color-split;
    background: @backgroud-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
    .action {
      cursor: pointer;
      padding: 0 @padding-medium;
      &:hover {
        color: @primary-color;
      }
    }
    .divider {
      width: 1px;
      height: 20px;
      background: @border-color-base;
    }
  }
}
.mesh-gateway-popover-content {
  width: 260px;
  padding: @padding-base;
  display: flex;
  flex-wrap: wrap;
  .rule {
    width: 100px;
    margin: @padding-base @padding-small @padding-base 0;
  }
  .title {
    width: 200px;
    color: @primary-color;
    font-size: @font-size-medium;
  }
}
