@import '~assets/style/core/index.less';

.mesh-gateway-modal {
  .remove {
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }
  .domainInput {
    width: 90%;
    margin-right: 8px;
  }
  .add {
    color: @primary-color;
    cursor: pointer;
    margin-left: 135px;
  }
}
