@import '~assets/style/core/index.less';

.mesh-gateway-modal {
  .remove {
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }
  .inputNSelect {
    width: 90%;
  }
  .domainInput {
    width: 90%;
    margin-right: 8px;
  }
  .netOutRow {
    display: flex;
    align-items: center;
    .noNetOutTip {
      color: @warning-color;
      cursor: pointer;
      font-size: 14px;
      margin-left: @padding-base / 2;
    }
  }
  .add {
    color: @primary-color;
    cursor: pointer;
    margin-left: 135px;
  }
  .outTip {
    margin-left: @padding-base / 2;
    cursor: pointer;
  }
  .ant-form-explain {
    width: 90%;
  }
}
