@import '~assets/style/core/index.less';

.mesh-gateway {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .noneIcon {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .gateway {
        margin-top: 120px;
      }
    }
  }
}
