@import '~assets/style/core/index.less';

.mesh-gateway {
  padding: 80px @padding-medium;
  min-height: calc(~"100vh - 74px");
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
