/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * RoutingManage style
 *
 * 2017-09-12
 * @author zhangxuan
 */
@import "../../../../assets/style/core/index.less";

.router-manage {
  &-btn-box {
    &-total {
      margin: 10px 180px 0 0;
    }
  }
  &-table {
    background-color: white;
    position: relative;
    padding: 14px 0 40px;
    table {
      thead {
        tr {
          th {
            background-color: white;
            border-bottom: 1px solid @border-color-base;
          }
        }
      }
    }
    .ant-pagination {
      position: absolute;
      right: 0;
      top: -60px;
    }
  }
}
