/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of empty circle
 *
 * @author zhangxuan
 * @date 2018-08-22
 */
@import '~assets/style/core/index.less';
.empty-circle-box {
  text-align: center;
  .na-svg {
    width: @font-size-large;
    height: @font-size-large;
  }
}
