/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of zone Groups
 *
 * @author zhanyb
 * @date 2018-06-06
 */

 .zone-groups {
  .page-box {
    margin-right: 13%;
  }
  .layout-content-body {
    margin-bottom: 30px;
  }
 }

 .ant-pagination {
  position: absolute;
  top: -67px;
  right: 0;
 }
