@import '../../../../assets/style/core/index.less';
.dubbo-list {
  .dubbo-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: @padding-medium;
  }
}
