/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Appliction-Style
 *
 * 2017-12-11
 * @author zhaoyb
 */
 @import '~assets/style/core/index.less';
 .csb-app {
  .top {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    .text {
      margin-left: 10px;
    }
    .page {
     float: right;
     display: inline-block;
     span {
       margin-right: 20px;
     }
     .ant-pagination {
       display: inline;
     }
   }
  }
  .table {
    .btn-abandon {
      margin-left: 10px;
    }
  }
  .colmuns-ellipsis {
    // display: inline-block;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // max-width: 50px;
  }
 }
