/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * LOG
 *
 * 2017-11-10
 * @author zhaoyb
 */

 .info {
  .ant-card-body {
    padding: 0 !important;
  }
  .logs-detail {
    height: 100%;
    .title {
     width: 100%;
     height: 40px;
     line-height: 40px;
     color: #5cb85c;
     background-color: #333;
     .desc {
       padding: 0 15px;
       display: inline-block;
       width: auto;
       height: 40px;
       line-height: 40px;
       font-size: 14px;
       border-bottom: 2px solid #5cb85c;
     }
     .enlarge {
       margin-left: 10px;
       position: absolute;
       top: 14px;
       left: 97%;
       font-size: 14px;
     }
     .download {
       float: right;
       color: #5cb85c;
       margin-right: 15px;
       line-height: 40px;
       font-size: 14px;
       cursor: pointer;
     }
     .down {
       float: left;
       font-size: 14px;
       line-height: 40px;
     }
     div {
       float: right;
       margin-right: 30px;
       display: inline-block;
     }
    }
    .log-body {
     width: 100%;
     height: 700px;
     overflow-y: auto;
     margin-bottom: 0;
     margin-top: 0;
     background-color: #1a1a1a;
     .infos {
       line-height: 50px;
       text-align: center;
       color: #d9d9d9;
     }
     .logList {
      padding: 15px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      .logDetail {
        width: 100%;
        word-break: keep-all;
        white-space: pre-wrap;
        &:hover {
          background-color: rgba(91, 91, 91, 0.5);
        }
      }
      .logDetailActive {
        background-color: rgba(91, 91, 91, 0.5);
      }
      .instanceSpan {
        margin-right: 15px;
        color: #ff0;
      }
      .logSpan {
        color: #37fc34;
      }
      .noDataSpan {
        color: #37fc34;
      }
    }
    }
    .msgBox {
      height: calc(~"100% - 1px");
    }
  }
 }
