/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of call link tracking
 *
 * @author zhangxuan
 * @date 2018-06-29
 */
@import "../../../../assets/style/core/index";
.msa-call-link-tracking {
  .call-link-tracking-btns {
    & > * {
      margin-bottom: @padding-small !important;
    }
  }
  .kaing {
    display: inline-block;
    width: 30px;
    position: absolute;
    top: 8%;
    left: 64px;
  }
  .sTime {
    margin-left: 96%;
    position: absolute;
    top: 70%;
    left: 5px;
  }
  .serviceName {
    line-height: 30px;
    .names {
      width: 50%;
      padding: 5px;
      border: 1px solid #a0dbff;
      background: #e9f8ff;
      border-radius: 5px;
      text-align: center;
      color: #2db7f5;
    }
  }
  .timer {
    display: inline-block;
    button {
      margin-top: 4px;
    }
    .btn {
      border-radius: 0;
      margin-top: 4px;
    }
    div {
      display: inline-block;
    }
  }
  .resCount {
    width: 100%;
  }
  .select-style {
    width: 95%;
  }
  .input-style {
    width: 95%;
  }
  .endTs {
    width: 95%;
  }
  .trace {
    width: 90%;
  }
  .search {
    margin-right: 20px;
    margin-top: 4px;
  }
  .total {
    color: #2db7f5;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 4px;
  }
  .chart {
    background: #fff;
    margin-bottom: 10px;
  }
}
