/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * Expand Row Steps Less
 *
 * 2018-1-11
 * @author zhangcz
 */
@import '~assets/style/core/index.less';

#expand-row-steps-style {
  .title-style,
  .direction-icon {
    padding-top: 4px;
  }
  .hide-Arrow-icon {
    display: none;
  }
  .direction-icon {
    font-size: 20px;
    cursor: pointer;
  }
  .direction-icon:hover {
    color: @primary-color;
  }
  .StepIcon {
    height: 25px;
    width: 25px;
  }
  .running {
    color: @primary-color;
  }
  .stopped {
    color: @error-color;
  }
  .deleted {
    color: @font-color-3;
  }
  .steps-style {
    .ant-col-1 {
      width: 30px;
    }
    .ant-col-22 {
      width: calc(~"100% - 60px");
    }
  }
  .steps-row-style {
    height: 80px;
    .ant-steps-item:last-child {
      min-width: 80px;
    }
    .ant-steps-item:not(:nth-last-of-type(1)):after {
      content: '';
      width: 0;
      height: 0;
      right: 0;
      top: 11px;
      position: absolute;
      border-left: 10px @border-style-base @primary-color;
      border-top: 5px @border-style-base white;
      border-bottom: 5px @border-style-base white;
    }
    .ant-steps-item {
      flex: 0 0 25%;
    }
    .ant-steps-item-icon {
      padding-left: 16px;
    }
    .deleted-instance {
      .ant-steps-item-title:after {
        background-color: @border-color-base;
      }
    }
    .deleted-instance:not(:nth-last-of-type(1)):after {
      content: '';
      width: 0;
      height: 0;
      right: 0;
      top: 11px;
      position: absolute;
      border-left: 10px @border-style-base @border-color-base;
      border-top: 5px @border-style-base white;
      border-bottom: 5px @border-style-base white;
    }
    .ant-steps-item-content {
      position: relative;
      .ant-steps-item-description {
        position: absolute;
        display: block;
        width: 80px;
        top: 30px;
        left: -47px;
      }
    }
    .step-item-title-content {
      position: absolute;
      font-size: 12px;
      top: -9px;
      left: 25px;
    }
    .short-step-style {
      .short-title {
        width: 25px;
        height: 25px;
      }
      .ant-steps-item-title:after {
        display: none;
      }
    }
  }
}
