/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * overview
 *
 * 2017-12-05
 * @author zhaoyb
 */

.msa-overview {
  .top {
    height: 170px;
    background: #fff;
    .imgs {
      width: 100px;
      height: 100px;
      margin-left: 40px;
      display: inline-block;
    }
    .desc {
      margin-top: 20px;
      margin-left: 20px;
      display: inline-block;
      .descs {
        div {
          margin-top: 10px;
        }
      }
    }
    .btn {
      float: right;
      margin-top: 6%;
      margin-right: 20px;
      display: inline-block;
      .subscribe {
        margin-left: 10px;
      }
    }
  }
  .release {
    margin-top: 20px;
  }
}
