/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * overview
 *
 * 2017-12-05
 * @author zhaoyb
 */
 @import '~assets/style/core/index.less';

.csb-overview {
  .top {
    height: 170px;
    background: #fff;
    .topLeft {
      height: 170px;
      width: 30%;
      display: inline-block;
      .imgs {
        float: left;
        height: 100px;
        margin-top: 45px;
        margin-left: 50px;
        display: inline-block;
      }
      .desc {
        margin-top: 20px;
        margin-left: 40px;
        display: inline-block;
        .descs {
          div {
            margin-top: 10px;
          }
        }
      }
    }
    .btn {
      float: right;
      margin-top: 6%;
      margin-right: 20px;
      display: inline-block;
      .subscribe {
        margin-left: 10px;
      }
    }
  }
  .release {
    margin-top: 20px;
    .content {
      .dec-pie {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
      }
      p {
        display: inline-block;
        vertical-align: top;
        margin-right: 40%;
      }
      .desc {
        width: 200px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 41%;
        .dec-run {
          background-color: @success-color;
        }
        .dec-error {
          background-color: @error-color;
        }
        .dec-on {
          background-color: @border-color-base;
        }
      }
      .desc-trial {
        width: 200px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 38%;
        .dec-run {
          background-color: @success-color;
        }
        .dec-error {
          background-color: @error-color;
        }
        .dec-on {
          background-color: @border-color-base;
        }
        .dec-trial {
          background-color: @warning-color;
        }
      }
      .des {
        width: 200px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 47%;
        .dec-runs {
          background-color: @success-color;
        }
        .dec-errors {
          background-color: @error-color;
        }
      }
      #g-chart1, #g-chart2, #g-chart3, #g-chart4 {
        height: 150px;
        position: relative;
        left: -40px;
        top: 14px;
      }
    }
  }
}
