/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * overview
 *
 * 2017-12-05
 * @author zhaoyb
 */

.csb-overview {
  .top {
    height: 170px;
    background: #fff;
    .topLeft {
      height: 170px;
      width: 30%;
      display: inline-block;
      .imgs {
        float: left;
        height: 100px;
        margin-top: 45px;
        margin-left: 50px;
        display: inline-block;
      }
      .desc {
        margin-top: 20px;
        margin-left: 40px;
        display: inline-block;
        .descs {
          div {
            margin-top: 10px;
          }
        }
      }
    }
    .btn {
      float: right;
      margin-top: 6%;
      margin-right: 20px;
      display: inline-block;
      .subscribe {
        margin-left: 10px;
      }
    }
  }
  .release {
    margin-top: 20px;
    .content {
      .desc {
        width: 200px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 43%;
        .dec-run {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #5cb85c;
          border-radius: 5px;
        }
        .dec-error {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #f85a5a;
          border-radius: 5px;
        }
        .dec-on {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #d9d9d9;
          border-radius: 5px;
        }
        p {
          display: inline-block;
          vertical-align: top;
          margin-right: 40%;
        }
        span {
          font-size: 12px;
        }
      }
      .desc-trial {
        width: 200px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 38%;
        .dec-run {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #5cb85c;
          border-radius: 5px;
        }
        .dec-error {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #f85a5a;
          border-radius: 5px;
        }
        .dec-on {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #d9d9d9;
          border-radius: 5px;
        }
        .dec-trial {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #ffbf00;
          border-radius: 5px;
        }
        p {
          display: inline-block;
          vertical-align: top;
          margin-right: 40%;
        }
        span {
          font-size: 12px;
        }
      }
      .des {
        width: 200px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 49%;
        .dec-runs {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #5cb85c;
          border-radius: 5px;
        }
        .dec-errors {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 10px;
          background-color: #f85a5a;
          border-radius: 5px;
        }
        p {
          display: inline-block;
          vertical-align: top;
          margin-right: 40%;
        }
        span {
          font-size: 12px;
        }
      }
      #g-chart1 {
        position: relative;
        left: -40px;
      }
      #g-chart2 {
        position: relative;
        left: -40px;
      }
      #g-chart3 {
        position: relative;
        left: -40px;
      }
      #g-chart4 {
        position: relative;
        left: -40px;
      }
    }
  }
}
