/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * ApmTimePicker style
 *
 * 2017-09-06
 * @author zhangxuan
 */

.apm-timepicker {
  display: inline-block;
  .type-change-btn {
    margin-top: 0.5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &-component {
    .ant-input {
      border-radius: 0 4px 4px 0;
    }
  }
  &-btns {
    label:first-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

