/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * ApmTimePicker style
 *
 * 2017-09-06
 * @author zhangxuan
 */
@import "../../../assets/style/core/index.less";
.apm-timepicker {
  display: inline-block;
  .type-change-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: unset;
  }
  &-component {
    .ant-input {
      border-radius: 0 4px 4px 0;
    }
  }
  &-btns {
    label:first-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.ant-calendar-range-bottom {
  position: relative;
  .apm-range-picker-tip {
    border-top: none;
    position: absolute;
    color: @font-color-4 !important;
  }
  .ant-calendar-footer-btn {
    border-top: none !important;
  }
}
