/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of sider
 *
 * @author songsz
 * @date 2018-05-16
 */
@import "../../../assets/style/core/index.less";

.container {
  height: 100%;
}

.logo {
  width: 140px;
  height: 41px;
  border-radius: 6px;
  margin: 11px 24px @padding-large 16px;
  float: left;
}
.logoSmall {
  width: 50px;
  height: 41px;
  border-radius: 6px;
  margin: 11px 24px @padding-large 16px;
  float: left;
}
.itemIcon {
  height: 14px;
  width: 14px;
  vertical-align: text-bottom;
  margin-right: 10px;
  fill: @font-color-3;
}
.collapsedIcon {
  margin-left: -40px;
}
//position: 'fixed', top: 0, zIndex: 2, height: 60, backgroundColor: '#031528'
.logoContainer {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 54px;
  background-color: #031528;
}