/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of sider
 *
 * @author songsz
 * @date 2018-05-16
 */
@import "../../../assets/style/core/index.less";

.container {
  height: 100%;
}

.logo {
  width: auto;
  height: 41px;
  border-radius: 6px;
  margin: 11px 24px @padding-large 16px;
  padding-left: 20px;
  float: left;
}
.logoSmall {
  width: auto;
  height: 41px;
  border-radius: 6px;
  margin: 11px 24px @padding-large 16px;
  float: left;
}
.itemIcon {
  font-size: 14px;
  vertical-align: text-bottom;
  margin-right: 10px;
  color: @font-color-3;
}
.collapsedIcon {
  margin-left: -40px;
}
//position: 'fixed', top: 0, zIndex: 2, height: 60, backgroundColor: '#031528'
.logoContainer {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 54px;
  width: 250px;
  background-color: #031528;
}
.sider-wrapper {
  .ant-layout-sider-children {
    height: auto;
  }
}
.sider-nav {
  .ant-menu {
    .ant-menu-item > a {
      &:hover {
        .itemIcon {
          color: #fff;
        }
      }
    }
    .ant-menu-item-selected.ant-menu-item > a {
      & > .itemIcon, &:hover > .itemIcon {
        color: #fff;
      }
    }
    .ant-menu-item-selected.ant-menu-item {
      a {
        color: #fff;
      }
    }
  }
}

