/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of sider
 *
 * @author songsz
 * @date 2018-05-16
 */
@import "../../../assets/style/core/index.less";

.container {
  height: 100%;
}

.logo {
  width: 120px;
  height: 41px;
  border-radius: 6px;
  margin: 11px 24px 11px 24px;
  float: left;
  margin-bottom: @padding-large;
}
