/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * LOG
 *
 * 2017-11-10
 * @author zhaoyb
 */

.log {
  margin: 0;
  .primary {
    line-height: 2.7;
  }
  .back {
    margin-left: 10px;
  }
  .bigLogBox {
    z-index: 100;
    position: fixed;
    margin-top: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .ant-card-body {
      height: 100%;
    }
  }
}
