/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of AccessAgreement
 *
 * 2017-12-04
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.access-agreement {
  .right-btn {
    &.success {
      color: @success-color;
      border-color: @success-color;
    }
    &.failed {
      color: @error-color;
      border-color: @error-color;
    }
  }
}
