/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Approve service less
 *
 * 2017-12-29
 * @author zhangcz
 */

.approve-modal {
  .modal-approval {
    padding: 10px;
    .modal-div {
      margin-bottom: 10px;
    }
    .ant-form-item-label {
      text-align: left;
    }
  }
}
