/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * overview
 *
 * 2017-12-05
 * @author zhaoyb
 */
 @import '~assets/style/core/index.less';

.csb-service-subscription-approval {
  .layout-content-body {
    .detail {
      margin-right: 10px;
    }
    .nav {
      margin: 20px 0;
      .left {
        width: 100%;
        display: inline-block;
        .refresh {
          margin-right: 10px;
        }
      }
      .page {
        float: right;
        display: inline-block;
        .ant-pagination {
          display: inline;
        }
      }
    }
    .adopt {
      color: @success-color;
      div {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50px;
        display: inline-block;
        background-color: @success-color;
      }
    }
    .ub {
      div {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50px;
        display: inline-block;
        background-color: @font-color-4;
      }
    }
    .eap {
      color: @warning-color;
      div {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50px;
        display: inline-block;
        background-color: @warning-color;
      }
    }
    .refuse {
      color: @error-color;
      div {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50px;
        display: inline-block;
        background-color: @error-color;
      }
    }
  }
}

.approve-modal {
  .modal-approval {
    padding: 10px;
    .modal-div {
      margin-bottom: 10px;
    }
    .ant-form-item-label {
      text-align: left;
    }
  }
}

