/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * overview
 *
 * 2017-12-05
 * @author zhaoyb
 */

 .msa-service-subscription-approval {
   .layout-content-body {
     .nav {
       margin: 20px 0;
      .left {
        width: 100%;
        display: inline-block;
        .refresh {
          margin-right: 10px;
        }
      }
      .page {
        float: right;
        display: inline-block;
        .ant-pagination {
          display: inline;
        }
      }
     }
   }
 }
