/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * overview
 *
 * 2017-12-05
 * @author zhaoyb
 */
.csb-service-subscription-approval {
  .layout-content-body {
    clear: both;
    .detail {
      margin-right: 10px;
    }
    .nav {
      margin: 20px 0;
      .left {
        width: 100%;
        display: inline-block;
        .refresh {
          margin-right: 10px;
        }
      }
      .page {
        float: right;
        display: inline-block;
        .ant-pagination {
          display: inline;
        }
      }
    }
  }
}

.approve-modal {
  .modal-approval {
    padding: 10px;
    .modal-div {
      margin-bottom: 10px;
    }
    .ant-form-item-label {
      text-align: left;
    }
  }
}
