@import '~assets/style/core/index.less';

.index-page {
  margin-top: 80px;
  padding: 0 @padding-medium;
  & > * {
    margin-bottom: 16px;
  }
  &-spinning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  &-overview {
    &-left {
      height: 60px;
      line-height: 60px;
      border-right: 1px solid @border-color-base;
      position: relative;
      clear: both;
      svg, .icon-box {
        float: left;
        width: 60px;
        height: 60px;
        fill: @primary-color;
      }
      i {
        font-size: 60px;
        color: @primary-color;
      }
      &-title {
        margin-left: 16px;
        float: left;
      }
      &-num {
        font-size: 20px;
        margin-right: 16px;
        float: right;
      }
    }
    &-right-row {
      height: 30px;
      line-height: 30px;
      & > div + div {
        text-align: right;
      }
      .level {
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 6px;
          height: 14px;
          position: absolute;
          top: 1px;
          left: -10px;
        }
      }
      .critical {
        &:after {
          background: @error-color;
        }
      }
      .importance {
        &:after {
          background: @warning-color;
        }
      }
    }
  }
  &-top-call {
    &-success {
      padding-left: 5px;
      margin-bottom: 8px;
      border-left: 3px solid @success-color;
    }
    &-failed {
      padding-left: 5px;
      margin-bottom: 8px;
      border-left: 3px solid @warning-color;
    }
  }
}
