/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of AccessAgreement
 *
 * 2017-12-04
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

@keyframes fade {
  0% {
    border-color: #d9d9d9;
    box-shadow: 0 0 0 #fff;
  }
  50% {
    border-color: #2db7f5;
    box-shadow: 0 0 10px #2db7f5;
  }
  to {
    border-color: #d9d9d9;
    box-shadow: 0 0 0 #fff;
  }
}

.access-agreement {
  .right-btn {
    &.success {
      color: @success-color;
      border-color: @success-color;
    }
    &.failed {
      color: @error-color;
      border-color: @error-color;
    }
  }
  .service-routing-strategy {
    .desc-text {
      line-height: initial;
    }
  }
  .service-ssl {
    .ant-switch {
      margin-right: @padding-base;
    }
  }
  .shinning {
    border-color: #2db7f5;
    box-shadow: 0 0 5px #2db7f5;
    animation: fade 2s infinite;
  }
}
