/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * ComponentManagementDetail style
 *
 * 2018-10-08
 * @author zhaoyb
 */
 @import "../../../../../assets/style/core/index.less";

 .component-detail {
  .component-detail-title {
    .back {
      display: inline-block;
      float: left;
      height: 40px;
      .backjia {
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 15px solid #00b8f2;
        font-size: 0;
        line-height: 0;
      }
      .btn-back {
        display: inline-block;
        background: #00b8f2;
        color: white;
        height: 30px;
        line-height: 28px;
        vertical-align: top;
        padding-right: 10px;
        padding-left: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
      }
    }
    .title {
      vertical-align: middle;
      line-height: 30px;
      padding-left: 10px;
      border-left: 5px solid #00a0e9;
      margin-right: 50px;
    }
  }
  .component-detail-top {
    margin-bottom: 20px;
    .topLeft {
      height: 70px;
      display: inline-block;
      .imgs {
        float: left;
        height: 100px;
        margin-top: 10px;
        margin-left: 30px;
        display: inline-block;
      }
      .desc {
        margin-top: 10px;
        margin-left: 40px;
        display: inline-block;
        .descs {
          div {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .component-detail-body {
    .ico {
      font-size: 15px;
      color: #ffbf00;
      margin-left: 15px;
    }
    .sync {
      margin-left: 20px;
    }
  }
 }
 .serviceHeader {
  & > div {
    padding: 15px 0;
  }
  border-bottom: none;
}
.serviceList {
  & > div {
    padding: 0 0 15px 0;
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  & > div:last-child {
    margin-top: 3px;
    margin-left: 15px;
  }
  &:not(:last-of-type) {
    border-bottom: none;
  }
}
.ico {
  cursor: pointer;
  padding-right: 2px;
}
