/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * MsaDetail style
 *
 * 2017-09-12
 * @author zhangxuan
 */

@import '~assets/style/core/index.less';

.msa-detail {
  &-header {
    padding: @padding-medium;
    margin-bottom: @padding-medium;
    background-color: white;
    &-icon {
      height: 100px;
    }
    &-name {
      font-size: 16px;
      font-weight: bold;
    }
    &-right {
      & > *:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
  &-tabs {
    background-color: white;
    padding: 8px @padding-medium @padding-medium;
  }
  .msa-detail-monitor {
    min-height: 500px;
  }
}
