/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Site common style
 *
 * 2017-08-16
 * @author zhangpc
 */
@import "~antd/dist/antd.less";
@import "custom.less";
@import './core/index.less';
@import './core/overwrite.less';

@namespace-switch-height: 30px;
@content-margin-top: @header-height + @namespace-switch-height + @padding-medium;

body {
  background-color: @backgroud-color-body;
  overflow: hidden;
  #root {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
.menu-icon {
  height: 14px;
  width: 14px;
  vertical-align: text-bottom;
  margin-right: 10px;
  fill: rgba(0, 0, 0, 0.65);
}
.namespace-switch {
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  width: 100%;
  height: 30px;
  margin-top: @header-height;
  padding: 5px @padding-medium;
  background-color: #fff;
  z-index: @zindex-affix;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
}
.left-menu-card {
  .ant-card-body {
    padding-right: 0;
    padding-left: 0;
    .ant-menu {
      border-right: 0;
      .ant-menu-item > a, div.ant-menu-submenu-title {
        &:hover {
          .menu-icon {
            fill: @primary-color;
          }
        }
      }
      .ant-menu-item-selected.ant-menu-item > a {
        & > .menu-icon, &:hover > .menu-icon {
          fill: #fff;
        }
      }
      .ant-menu-item-selected.ant-menu-item {
        background-color: @primary-color;
        a {
          color: #fff;
        }
      }
      .ant-menu-item::after {
        border: 0;
      }
    }
  }
}
.ant-layout {
  background-color: @backgroud-color-body;
  overflow-x: hidden;
  .ant-layout-header {
    background-color: #fff;
    //min-width: @body-min-width;
    padding: 0 @padding-medium;
    height: 55px;
  }
  .layout-sider {
    background: @backgroud-color-body;
    left: 0;
    margin-top: @content-margin-top;
    margin-left: @padding-medium;
    &.layout-sider-extra {
      .ant-card-head {
        .ant-card-head-title {
          .apm-switch {
            font-size: 12px;
            font-weight: initial;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .layout-content {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: @content-margin-top - 40px;
    //margin-left: 200px + @padding-medium;
    margin-left: 0;
    min-height: 750px;
    height: 100%;
    &-btns {
      padding-bottom: @padding-medium;
      & > *:not(:last-child) {
        margin-right: 10px;
      }
      .search-style {
        width: 180px;
      }
      .page-box {
        float: right;
        padding-top: 5px;
        .total {
          margin-right: 18px;
          line-height: 24px;
        }
        .ant-pagination-simple {
          float: right;
        }
      }
    }
    &-body {
      clear: both;
      min-height: 200px;
    }
  }
  .ant-layout-footer {
    background-color: transparent;
  }
}
.txt-of-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.float-right {
  float: right;
}
.select {
  height: 14px;
  width: 14px;
  vertical-align: text-bottom;
  margin-right: 10px;
  fill: #fff;
}
.tenx-confirm-modal {
  .ant-modal-header {
    display: block;
  }
}
#logo {
  .st0 {
    fill: #008bd5;
  }
  .st1 {
    fill: #00aedc;
  }
  .st2 {
    fill: #fff;
  }
}
#logo-small {
  .st0 {
    fill: #008bd5;
  }
  .st1 {
    fill: #00aedc;
  }
  .st2 {
    fill: #fff;
  }
}
#serviceAccess {
  .st0 {
    fill: #5ab46d;
  }
  .st1 {
    fill: #fefefe;
  }
}

#serviceRelay {
  .st0 {
    fill: #2db7f5;
  }
  .st1 {
    fill: #fefefe;
  }
}

#serviceOut {
  .st0 {
    fill: #ccc;
  }
  .st1 {
    fill: #fefefe;
  }
}

.first-title {
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  border-left: 5px solid @primary-color;
  padding-left: 8px;
  margin-bottom: 20px;
}
.second-title {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  border-left: 3px solid @primary-color;
  padding-left: @padding-base;
  margin-bottom: @padding-small;
  color: @primary-color;
}

/* colors */
.success-status {
  color: @success-color;
}
.error-status {
  color: @error-color;
}
.primary-color {
  color: @primary-color;
}
.empty-text, .desc-text {
  color: @font-color-3;
}

.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}

.reset-modal-incloud-form {
  .ant-modal-body {
    padding-bottom: 0;
  }
}

.row-table {
  border: 1px @border-style-base @border-color-base;
  border-radius: @border-radius-base;
  & > .ant-row {
    height: 40px;
    line-height: 40px;
    &:not(:last-child) {
      border-bottom: 1px @border-style-base @border-color-split;
    }
    & > div {
      padding: 0 @padding-base;
      &:not(:last-child) {
        border-right: 1px @border-style-base @border-color-split;
      }
      &:first-child, &:nth-child(3) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
