/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Site common style
 *
 * 2017-08-16
 * @author zhangpc
 */
@import "~antd/dist/antd.less";
@import "custom.less";
@import './core/index.less';
@import './core/overwrite.less';

@namespace-switch-height: 30px;
@content-margin-top: @header-height + @namespace-switch-height + @padding-medium;

body {
  background-color: @backgroud-color-body;
  #root {
    width: 100%;
    height: 100%;
    .ant-layout {
      background-color: @backgroud-color-body;
      overflow-x: hidden;
      .ant-layout-header {
        background-color: @backgroud-color-navigation;
        min-width: @body-min-width;
        padding: 0 @padding-medium;
      }
      .layout-sider {
        background: @backgroud-color-body;
        left: 0;
        margin-top: @content-margin-top;
        margin-left: @padding-medium;
        .ant-menu {
          .ant-menu-item-selected.ant-menu-item {
            background-color: @primary-color;
            a {
              color: #fff;
            }
          }
          .ant-menu-item::after {
            border: 0;
          }
        }
      }
      .layout-content {
        padding-right: @padding-medium;
        padding-left: @padding-medium;
        margin-left: 200px + @padding-medium;
        min-height: 520px;
        margin-top: @content-margin-top;
        &-btns {
          padding-bottom: @padding-medium;
          & > *:not(:last-child) {
            margin-right: 10px;
          }
        }
        &-body {
          min-height: 200px;
        }
      }
      .ant-layout-footer {
        background-color: transparent;
      }
    }
    .txt-of-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    .loading {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .float-right {
      float: right;
    }
    .menu-icon {
      height: 14px;
      width: 14px;
      vertical-align: text-bottom;
      margin-right: 10px;
      fill: rgba(0, 0, 0, 0.65);
    }
    .left-menu-card {
      .ant-card-head {
        height: 80px;
        line-height: initial;
        .ant-card-head-title {
          margin-top: 20px;
          .apm-switch {
            font-size: 12px;
            font-weight: initial;
            margin-top: 5px;
          }
        }
      }
      .ant-card-body {
        padding-right: 0;
        padding-left: 0;
        .ant-menu-inline, .ant-menu-vertical {
          border-right: 0;
        }
        .ant-menu-item > a, .ant-menu-submenu-title {
          &:hover {
            .menu-icon {
              fill: @primary-color;
            }
          }
        }
        .ant-menu-item-selected > a {
          &:hover > .menu-icon, & > .menu-icon {
            fill: #fff;
          }
        }
      }
    }
    .namespace-switch {
      border-bottom: 1px solid #e9e9e9;
      position: fixed;
      width: 100%;
      height: 30px;
      margin-top: @header-height;
      padding: 5px @padding-medium;
      background-color: #fff;
      z-index: @zindex-affix;
      & > *:not(:last-child) {
        margin-right: 20px;
      }
    }
    .success-status {
      color: @success-color;
    }
    .error-status {
      color: @error-color;
    }
  }
  .pointer {
    cursor: pointer;
  }
  .primary-color {
    color: @primary-color;
  }
  #logo {
    .st0 {
      fill: #008bd5;
    }
    .st1 {
      fill: #00aedc;
    }
    .st2 {
      fill: #fff;
    }
  }
  .tenx-confirm-modal {
    .ant-modal-header {
      display: block;
    }
  }
}
