/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of DetailPageDock
 *
 * 2017-12-07
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.detail-page-dock {
  height: 100%;
  position: relative;
  .anticon-cross {
    position: absolute;
    right: 0;
    top: 0;
    margin: @padding-small @padding-small 0 0;
    z-index: 1;
    font-size: 18px;
    color: @font-color-3;
    cursor: pointer;
    &:hover {
      color: @font-color-2;
    }
  }
}
