/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Subscription Services Less
 *
 * 2017-12-06
 * @author zhangcz
 */

@import "../../../../../assets/style/core/index.less";

#subscription-services {
  .search-style {
    width: 180px;
  }
  .page-box {
    float: right;
    .total {
      margin-right: 18px;
      line-height: 24px;
    }
    .ant-pagination-simple {
      float: right;
    }
  }
}
