/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Performance style
 *
 * 2017-08-24
 * @author zhaoyb
 */

.content {
  .layout-content-btns {
    .example {
      float: right;
      display: inline-block;
    }
    .timer {
      display: inline-block;
      .btn {
        border-radius: 0;
      }
      .picker {
        margin-right: 30px;
      }
      div {
        display: inline-block;
      }
    }
  }
  .section {
    width: 100%;
    height: 50%;

    background: #fff;
    .left {
      width: 30%;
      display: inline-block;
      margin: 20px;
      margin-left: 28%;
      span {
        font-size: 12px;
      }
      .titleName {
        font-size: 27;
      }
    }
    .rigth {
      width: 30%;
      display: inline-block;
      margin-bottom: 30px;
      // margin-left: 28%;
      span {
        font-size: 12px;
      }
    }
  }
  .footer {
    width: 100%;
    background: #fff;
    .left {
      width: 48%;
      margin: 10px;
      display: inline-block;
      .titleInfo {
        margin-left: 10%;
        padding: 15px;
        .btn {
          float: right;
        }
      }
    }
    .rigth {
      width: 48%;
      margin: 10px;
      display: inline-block;
      .titleInfo {
        margin-left: 10%;
        padding: 15px;
        .btn {
          float: right;
        }
      }
    }
  }
}
