@import '../../../../assets/style/core/index.less';
.local-project {
  .alert {
    padding: @padding-base;
    margin-bottom: @padding-medium;
    border-radius: @border-radius-base;
    color: @primary-color;
    border: 1px dashed @primary-color;
    background: #e5f2fa;
  }
  .advance-config {
    color: @primary-color;
    i {
      font-size: 15px;
    }
    .show {
      height: auto;
    }
    .hide {
      height: 0;
      overflow: hidden;
    }
  }
  .local-project-form {
    width: 70%;
  }
  .ant-card-actions {
    background: #fff;
  }
  .ant-card-actions > li {
    text-align: unset;
    padding-bottom: @padding-base;
    .ant-row {
      width: 70%;
    }
    span {
      width: 100%;
    }
    button {
      position: relative;
      left: 20px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .local-project {
    .local-project-form {
      width: 90%;
    }
  }
  .ant-card-actions > li {
    .ant-row {
      width: 90%;
    }
  }
}
