/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * TransactionInspector component style
 *
 * 2017-09-01
 * @author zhangpc
 */

@import '../../../assets/style/core/index.less';

.transaction-inspector {
  height: 100%;
  overflow: hidden;
  .ant-spin-nested-loading, .ant-spin-container {
    height: 100%;
  }
  .no-border {
    border: 0;
  }
  .error {
    color: #f50;
  }
  &-toggler {
    width: 100%;
    height: 8px;
    border-bottom: 1px solid @borderColor;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: @primaryColor;
      .transaction-inspector-toggler-center {
        background-color: #ffbe00;
      }
    }
    &-center {
      height: 8px;
      width: 100px;
      margin: 0 auto;
      background-color: #d3d7da;
      border-right: 1px solid @borderColor;
      border-left: 1px solid @borderColor;
      &:hover {
        background-color: #ffbe00;
      }
    }
  }
  &-title {
    height: 42px;
    color: #333;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    &-cell {
      text-align: center;
      border-right: 1px solid @borderColor;
    }
  }
  &-call-stack {
    max-height: calc(~"100% - 50px");
    height: 100%;
    &-header {
      height: 32px;
      border-top: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      background-color: #f8f8f8;
      color: #666;
      table {
        width: 100%;
        padding: 0 8px;
        & > thead {
          & > tr > th {
            height: 28px;
            padding: 6px 8px;
            font-weight: normal;
            text-align: left;
          }
          & > tr > th:not(:last-child) {
            border-right: 1px solid @borderColor;
          }
        }
      }
    }
    &-body {
      height: calc(~"100% - 32px");
      overflow: auto;
      .ant-table {
        .ant-table-tbody {
          .ant-table-row-level-0 {
            background-color: #ebf2fc;
            color: @primaryColor;
          }
        }
      }
    }
  }
}
