/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of PublishService
 *
 * 2017-12-04
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.publish-service {
  background-color: #fff;
  border: 1px @border-style-base @border-color-base;
  border-radius: @border-radius-base;
  &-steps {
    // height: 48px;
    padding: 17.5px 10%;
    border-bottom: 1px @border-style-base @border-color-split;
    border-right: 1px @border-style-base @border-color-split;
  }
  &-body {
    border-right: 1px @border-style-base @border-color-split;
    padding: @padding-medium;
    height: calc(~"100% - 60px");
    & > .fields {
      padding-bottom: @padding-medium;
      border-bottom: 1px @border-style-base @border-color-split;
      //height: calc(~"100% - 60px");
      & > * {
        padding-top: @padding-medium;
        .second-title {
          margin-left: @padding-medium;
        }
      }
      & > *:not(:last-child) {
        border-bottom: 1px dashed @border-color-split;
      }
      .advanced-btn {
        border-bottom: none;
        display: inline-block;
        font-size: @font-size-medium;
        margin-left: @padding-medium;
        &:hover {
          color: @primary-color;
        }
      }
    }
    & > .btns {
      height: 60px;
      line-height: 60px;
      text-align: center;
      & > button + button {
        margin-left: @padding-small;
      }
    }
    &-endpoint, &-wsdl-address {
      input {
        width: calc(~"100% - 110px");
      }
      .right-btn {
        float: right;
        margin: 3.5px 0;
      }
    }
  }
  &-detail {
    padding: 0 @padding-medium @padding-medium;
    &-header {
      font-size: @font-size-medium;
      height: 60px;
      line-height: 60px;
    }
    &-body {
      border: 1px @border-style-base @border-color-base;
      border-radius: @border-radius-base;
      margin-bottom: @padding-base;
      .step-header {
        text-align: center;
        background-color: @primary-color;
        color: #fff;
      }
      & > .ant-row {
        height: 32px;
        line-height: 32px;
        padding: 0 @padding-base;
        &:not(:last-child) {
          border-bottom: 1px @border-style-base @border-color-split;
        }
        .field-label {
          border-right: 1px @border-style-base @border-color-split;
        }
        .field-value {
          padding-left: @padding-base;
        }
      }
    }
  }
}
