/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of OpenAgreement
 *
 * 2017-12-04
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.open-agreement {
  .service-protocols {
    .ant-checkbox-group {
      height: 32px;
      line-height: 32px;
    }
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
