/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * MsaDetailDemote style
 *
 * 2018-11-05
 * @author zhouhaitao
 */

@import '~assets/style/core/index.less';
.msa-detail-demote {
  padding: @padding-medium;
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .alert {
    border: 1px dashed @primary-color;
    padding: @padding-base;
    margin-bottom: @padding-medium;
    border-radius: @border-radius-base;
    background: #e6f7ff;
    color: @primary-color;
    i {
      margin-right: 4px;
      font-size: 14px;
    }
 }
 .warning {
   border-color: @warning-color;
   background: #fffbf5;
   color: @font-color-2;
   i {
     color: @warning-color;
   }
 }
}
.msa-detail-demote-modal {
  display: flex;
  align-items: center;
  i {
    margin-right: @padding-small;
    font-size: 24px;
    color: @warning-color;
  }
}
