/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * RoutesManagement style
 *
 * 2018-10-10
 * @author zhouhaitao
 */

@import '../../../../assets/style/core/index.less';

#routes-management {
  .warnIcon {
    color: @warning-color;
  }
  .options-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: @padding-medium;
    .left {
      button {
        margin-right: @padding-base;
      }
    }
  }

  .page-box {
    float: right;
    padding-top: 5px;
    .total {
      margin-right: 18px;
      line-height: 24px;
    }
    .ant-pagination-simple {
      float: right;
    }
  }
}
