/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * RoutesManagement style
 *
 * 2018-10-10
 * @author zhouhaitao
 */

@import '../../../../assets/style/core/index.less';

#routes-management {
  .options-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: @padding-medium;
    .left {
      button {
        margin-right: @padding-base;
      }
    }
  }
}
