/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * NewRoute style
 *
 * 2018-10-10
 * @author zhouhaitao
 */

@import '../../../../assets/style/core/index.less';

#new-route {
  .top {
    display: flex;
    align-items: center;
    margin-bottom: @padding-medium;
    & > span:last-child {
      margin-left: 32px;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 5px;
        height: 18px;
        background: @primary-color;
        position: absolute;
        left: -10px;
      }
    }
  }
  .visit-type-inner {
    .pub-content {
      .selection {
        display: flex;
      }
      button {
        margin: 4px @padding-medium;
      }
    }
  }
  .route-type-wrapper {
    .route-type-tip {
      margin: @padding-base 0;
      background: #fffbf5;
      border: 1px dashed #fcdca1;
      border-radius: @border-radius-base;
      padding: 4px @padding-base;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        color: #faa238;
        font-size: 14px;
        margin-right: @padding-base;
        &:nth-child(2) {
          padding: @padding-base 0 @padding-base @padding-base;
          cursor: pointer;
        }
      }
    }
  }
  .route-type-item {
    border: 1px dashed @border-color-base;
    border-radius: @border-radius-medium;
    padding: @padding-medium;
    position: relative;
    .remove-route-item {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -64px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: @border-radius-base;
      font-size: 16px;
      text-align: center;
      border: 1px dashed @border-color-base;
      cursor: pointer;
    }
    .condition-input {
      margin-top: -@padding-medium;
      display: flex;
      justify-content: flex-start;
      .ant-form-item, button {
        margin-right: @padding-base;
      }
      button {
        margin-top: 3px;
      }
    }
    .route-item-tip {
      margin-top: @padding-base;
      color: @font-color-3;
      line-height: 20px;
    }
  }
  .add-new-route {
    color: @primary-color;
    padding: @padding-base @padding-base @padding-base 0;
    cursor: pointer;
    i {
      margin-right: @padding-base;
    }
  }
  .new-route-footer {
    padding-left: 200px;
    padding-top: @padding-medium;
    border-top: 1px solid @border-color-base;
    button {
      margin-right: @padding-medium;
    }
  }
}
