@import '../../../../assets/style/core/index.less';
.distributed-list {
  .top {
    margin-bottom: @padding-medium;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .top-left {
      button {
        margin-right: @padding-medium;
      }
    }
  }
  .spinning {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .child-transcation {
    .child-transcation-content {
      display: flex;
      justify-content: flex-start;
      .title {
        width: 130px;
      }
      .content {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding-left: @padding-medium;
        li {
          margin-right: 40px;
          position: relative;
          &:before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #949494;
            position: absolute;
            top: 1px;
            left: -18px;
          }
        }
        .successCount:before {
          background: @success-color;
        }
        .failCount:before {
          background: @error-color;
        }
      }
    }
    .record {
      .content {
        margin-left: @padding-small;
      }
    }
    .name {
      .content {
        width: 850px;
        flex-wrap: wrap;
        .tx-name {
          width: 200px;
          margin-right: 60px;
          margin-bottom: @padding-base;
          overflow: hidden;
          &:before {
            display: none !important;
          }
        }
      }
    }
  }
}
