@import '../../../../assets/style/core/index.less';
.distributed-list {
  .top {
    margin-bottom: @padding-medium;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .top-left {
      button {
        margin-right: @padding-medium;
      }
    }
  }
}
