/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of monitor chart
 *
 * @author zhangxuan
 * @date 2018-06-21
 */

@import '~assets/style/core/index.less';
.monitor-chart-component {
  .chart-name {
    font-size: @font-size-large;
  }
  .chart-switch-box {
    padding: @padding-base 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
