/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Call link tracking container style
 *
 * 2017-08-29
 * @author zhangpc
 */

@import '../../../../assets/style/core/index.less';

.call-link-tracking {
  // border: 1px @primaryColor solid;
  &-date {
    .ant-input {
      border-radius: 0;
      border-right: 0;
    }
  }
  &-table {
    padding: 20px;
    .ant-table-thead > tr > th {
      border-bottom: 1px solid #e9e9e9;
      background: initial;
    }
    .error {
      color: #f50;
      font-size: 16px;
    }
    .normal {
      color: #87d068;
    }
  }
}
