/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * MsaDetailEnv style
 *
 * 2017-09-13
 * @author zhangxuan
 */

@import '../../../../../../assets/style/core/index.less';

.msaDetailEnv {
  &-table {
    thead {
      tr {
        th:first-of-type, th:last-of-type {
          text-align: center;
          color: white;
        }
        th:first-of-type {
          background-color: #2db7f5;
        }
        th:last-of-type {
          background-color: #2abe84;
        }
      }
    }
    tbody {
      tr {
        td:first-of-type {
          text-align: center;
        }
      }
    }
  }
}
