/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Plubic service less
 *
 * 2017-12-05
 * @author zhaoyb
 */

@import "~assets/style/core/index.less";

#plubic-services {
  .handler-row {
    .serch-style {
      width: 180px;
    }
    .page-box {
      float: right;
      .total {
        margin-right: 18px;
        line-height: 24px;
      }
      .ant-pagination-simple {
        float: right;
      }
    }
  }
}
