/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * RegisterMsa style
 *
 * 2017-09-12
 * @author zhangxuan
 */
@import "../../../../../assets/style/common";

.msa-modal {
  .dotted {
    border-bottom: 1px dashed @borderColor;
    margin: 20px 0;
  }
  &-add {
    color: @primaryColor;
    i {
      margin-right: 10px;
    }
  }
}
