/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of metric
 *
 * @author zhangxuan
 * @date 2018-07-04
 */
@import '~assets/style/core/index.less';
#metric-component {
  .control-box {
    clear: both;
    overflow: hidden;
    .instance-filter {
      float: left;
    }
    .time-control {
      float: right;
    }
  }
}
.monitor-filter-content {
  .ant-popover-inner-content {
    padding: @padding-small 0 0 !important;
  }
}
