/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * CopyToClipboard component style
 *
 * 2018-4-18
 * @author zhangcz
 */

#CopyToClipboardComponent {
  .key-value {
    color: #2db7f5;
    margin-right: 8px;
  }
  .anticon-copy {
    color: #2db7f5;
    cursor: pointer;
  }
}
