/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Site Core Settings
 *
 * 2017-08-16
 * @author zhangpc
 */

/*-------------------
     Breakpoints
--------------------*/

@mobileBreakPoint: 320px;

@tabletBreakpoint: 768px;

@computerBreakpoint: 992px;

@largeMonitorBreakpoint: 1200px;

@widescreenMonitorBreakpoint: 1920px;

/* Responsive */
@largestMobileScreen: (@tabletBreakpoint - 1px);

@largestTabletScreen: (@computerBreakpoint - 1px);

@largestSmallMonitor: (@largeMonitorBreakpoint - 1px);

@largestLargeMonitor: (@widescreenMonitorBreakpoint - 1px);

/* Colors */
@backgroudColor: #eceff4;
@navigationBackgroudColor: #2b343d;
@primaryColor: #2db7f5;
@borderColor: #e9e9e9;

/* Width */
@bodyMinWidth: 1080px;
