/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Site Core Settings
 *
 * 2017-08-16
 * @author zhangpc
 */

/*-------------------
     Breakpoints
--------------------*/

@mobilebreakpoint: 320px;

@tabletbreakpoint: 768px;

@computerbreakpoint: 992px;

@largemonitorbreakpoint: 1200px;

@widescreenmonitorbreakpoint: 1920px;

/* Responsive */
@largestmobilescreen: (@tabletBreakpoint - 1px);

@largesttabletscreen: (@computerBreakpoint - 1px);

@largestsmallmonitor: (@largeMonitorBreakpoint - 1px);

@largestlargemonitor: (@widescreenMonitorBreakpoint - 1px);

/* Colors */
@backgroudcolor: #eceff4;
