/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Overwrite antd style
 *
 * 2017-11-03
 * @author zhangpc
 */
@import "index.less";

.ant-modal-content {
  .ant-modal-header {
    background-color: @backgroud-color-navigation;
    .ant-modal-title {
      color: #fff;
    }
  }
  .ant-modal-close {
    color: rgba(255, 255, 255, 0.65);
    &:hover {
      color: #fff;
    }
  }
}

.ant-card-wider-padding {
  .ant-card-head {
    padding: 0 @padding-medium;
  }
  .ant-card-body {
    padding: @padding-medium;
    & > div > .ant-table-wrapper {
      margin-top: -16px;
      margin-bottom: 16px;
    }
  }
}

.ant-table-thead > tr > th {
  font-weight: initial;
  background-color: #fff;
  border-bottom: 1px solid @border-color-base;
}

.ant-form-item {
  margin-bottom: 24px;
}

.ant-form-item-with-help {
  margin-bottom: 4px;
}

.ant-form-item-label {
  padding-right: 10px;
  > label:after {
    display: none;
  }
}
