
.layout-content-btns {
  .branch {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .exploit {
    height: 100;
    .headers {
      height: 30px;
      .add {
        float: left;
        margin-top: 4px;
        .font {
          color: #fff;
        }
      }
      .refresh {
        background: #fff;
        margin-left: 10px;
        margin-top: 6px;
      }
      .pages {
        width: 20%;
        display: inline-block;
        float: right;
        .ant-pagination {
          margin-top: 8px;
          // margin-left: 20px;
        }
        .total {
          margin-top: 11px;
          float: left;
        }
      }
    }
    .bottom {
      cursor: pointer;
      padding: 5px;
      margin-top: 0;
      .desc {
        display: inline-block;
      }
    }
  }
  .prompt {
    height: 55px;
    background-color: #fffaf0;
    border: 1px dashed #ffc125;
    padding: 10px;
  }
  .remark {
    display: inline-block;
    .text {
      line-height: 65px;
    }
  }
}
