@import "../../../../assets/style/core/index.less";
.config-center {
  @-webkit-keyframes loadingCircle {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
  }
  .ant-breadcrumb {
    display: inline-block;
    margin-right: 10px;
  }
  .icon-btn {
    margin-left: 10px;
  }
  .loading-icon-wrapper {
    color: @primary-color;
    .loading-icon {
      animation: loadingCircle 1s infinite linear;
    }
  }
  .table-icon {
    margin-right: 10px;
  }
  .branch {
    font-size: 14px;
    margin-bottom: 20px;
    .path {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .exploit {
    margin-bottom: 10px;
    .headers {
      .refresh {
        background: #fff;
        margin-left: 10px;
        margin-top: 6px;
      }
      .pages {
        margin-top: 15px;
        display: inline-block;
        float: right;
        .ant-pagination {
          display: inline;
        }
      }
    }
  }
    .detail {
      margin-right: 20px;
    }
  .prompt {
    height: 55px;
    background-color: #fffaf0;
    border: 1px dashed #ffc125;
    padding: 10px;
  }
  .remark {
    display: inline-block;
    .text {
      line-height: 65px;
    }
  }
}
