.add-client-modal {
  .auth-scope.ant-form-item {
    margin-bottom: 12px;
  }
  .auto-auth {
    .ant-form-item-label label:after {
      display: none;
    }
  }
  .scope-row {
    .ant-form-item:not(:last-of-type) {
      margin-bottom: 0;
    }
    &:not(:first-of-type) {
      label:after {
        content: '';
      }
    }
  }
}
