/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * msaList style
 *
 * 2017-09-12
 * @author zhangxuan
 */
@import '~assets/style/core/index.less';

.msa {
  &-btn-box {
    &-total {
      margin: 10px 180px 0 0;
    }
  }
  &-table {
    &-edit {
      margin-right: 12px;
    }
    &-status-box {
      display: inline-flex;
      align-items: center;
    }
    &-status {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 5px;
    }
    &-running {
      color: #30b967;
      .msa-table-status {
        background-color: #30b967;
      }
    }
    &-error {
      color: #979797;
      .msa-table-status {
        background-color: #979797;
      }
    }
    .ant-pagination {
      position: absolute;
      right: 0;
      top: -72px;
    }
  }
}
