.blackAndWhiteList {
  .anticon-delete {
    cursor: pointer;
  }
  .anticon-question-circle-o {
    margin-left: 8px;
  }
  .row-style {
    margin-bottom: 20px;
  }
  .ant-input {
    width: 355px;
    margin-right: 12px;
  }
  .add-btn {
    width: 355px;
  }
}
