@import '~assets/style/core/index.less';

.csb-instance-detail {
  & > .ant-breadcrumb {
    position: fixed;
    margin-top: 80px;
    padding: 0 @padding-medium;
  }
  & > .ant-layout {
    div.layout-sider, div.layout-content {
      margin-top: 110px;
    }
  }
}
