@import '~assets/style/core/index.less';

.csb-instance-detail {
  & > .ant-breadcrumb {
    position: fixed;
    margin-top: 80px;
    padding: 0 @padding-medium;
    .instance-name-bread {
      display: inline-block;
      width: 105px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      vertical-align: top;
    }
  }
  & > .ant-layout {
    div.layout-sider, div.layout-content {
      margin-top: 110px;
    }
  }
}
