@import '~assets/style/core/index.less';

.csb-instance-detail {
  & > .ant-breadcrumb {
    position: fixed;
    margin-top: @padding-medium;
    padding: 0 @padding-medium;
    .instance-name-bread {
      display: inline-block;
      width: 105px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      vertical-align: top;
    }
  }
  & > .ant-layout {
    padding: 0 0 0 @padding-medium;
    @csb-detail-content-margin-top: @padding-medium + 24px + @padding-base;
    & > .layout-sider {
      margin-top: @csb-detail-content-margin-top;
      align-self: flex-start;
    }
    & > .layout-content {
      margin-top: @csb-detail-content-margin-top;
      padding-top: 0;
    }
  }
}
