/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Components
 *
 * 2017-11-21
 * @author zhaoyb
 */
 .info {
  .nav {
    margin-bottom: 20px;
    .input {
      width: 200px;
      margin-left: 20px;
    }
    .pages {
      float: right;
      .ant-pagination {
        display: inline;
      }
    }
  }
  .body {
    padding: 20px;
  }
  .ico {
    position: absolute;
    top: 90px;
    left: 30px;
  }
  .tooptics {
    width: 90%;
    margin-left: 40px;
  }
 }

