/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Components
 *
 * 2017-11-21
 * @author zhaoyb
 */
 .info {
  .nav {
    margin-bottom: 20px;
    .input {
      width: 200px;
      margin-left: 20px;
    }
    .pages {
      float: right;
      .ant-pagination {
        display: inline;
      }
    }
  }
  .body {
    padding: 20px;
    margin-bottom: 20px;
  }
  .ico {
    position: absolute;
    top: 90px;
    left: 30px;
  }
  .tooptics {
    width: 90%;
    margin-left: 40px;
  }
  .logs {
    .title {
      width: 100%;
      height: 40px;
      line-height: 40px;
      color: #5cb85c;
      background-color: #333;
      .desc {
        padding: 0 15px;
        display: inline-block;
        width: auto;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
      }
    }
  }
 }

