/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * create-config-style
 *
 * 2017-09-13
 * @author zhaoyb
 */

 .info {
  .connent {
    margin-top: 20px;
    & > div:first-child {
      text-align: right;
      padding-right: 10px;
      line-height: 3.5;
    }
    & > div + div > * {
      margin-right: 8px;
    }
    .code-editor {
      width: 60%;
      border: 2px solid #000;
    }
    .ant-form-item-control-wrapper {
      padding-left: 10px;
      padding-top: 5px;
    }
    .selects, .ant-input-group-wrapper, .ant-input.textArea {
      width: 60%;
      float: left;
    }
  }
  .connents {
    .ant-form-item-control-wrapper {
      padding-top: 0;
    }
    margin-bottom: 10px;
    .text {
      text-align: right;
    }
    .textArea {
      width: 60%;
    }
    .ant-form-item-label {
      line-height: 2;
    }
    .ant-form-item-control {
      line-height: 25px;
    }
  }
   .yaml-box {
     margin-bottom: 24px;
   }
  .error-explain {
    display: inline-block;
    position: absolute;
    left: 1px;
    top: 40px;
  }
  .code-editor-title {
    text-align: left;
  }
  .ant-form-explain {
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    left: 1px;
    bottom: -22px;
  }
  .CodeMirror-scroll {
    text-align: left;
  }
  .operation {
    margin: 24px 0 20px 17.5%;
    .ok {
      margin-right: 10px;
    }
    .close {
      margin-right: 10px;
    }
  }
 }
