/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * create-config-style
 *
 * 2017-09-13
 * @author zhaoyb
 */

 .info {
  .connent {
    margin-top: 20px;
    margin-bottom: 20px;
    & > div:first-child {
      text-align: right;
      padding-right: 10px;
      line-height: 3.5;
    }
    & > div + div > * {
      margin-right: 8px;
    }
    .code-editor {
      width: 60%;
      margin-left: 1%;
    }
  }
  .connents {
    .text {
      text-align: right;
    }
    .textArea {
      margin-left: 1%;
      margin-bottom: 10px;
    }
  }
  .ant-form-explain {
    margin-left: 10px;
  }
  .operation {
    margin-left: 17.5%;
    margin-top: 10px;
    .close {
      margin-right: 10px;
    }
  }
 }
