/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Apm container style
 *
 * 2017-08-16
 * @author zhangpc
 */

@import '../../../assets/style/core/index.less';

.apm {
  &-title {
    padding: 10px;
    font-size: 16px;
  }
  .ant-card-head {
    height: 80px;
    line-height: initial;
    .ant-card-head-title {
      margin-top: 20px;
      .apm-switch {
        font-size: 12px;
        font-weight: initial;
        margin-top: 5px;
      }
    }
  }
}
