@slider-line-color: #e3e7ea;
.topology {
  &-header {
    & > * {
      margin-right: 15px;
    }
  }
  &-body {
    background-color: white;
    margin-top: 20px;
    .topology-body-relation-schema {
      border-right: 1px solid @slider-line-color;
    }
    .service-info {
      padding: 20px 30px;
      border-bottom: 1px solid @slider-line-color;
      &-name {
        font-size: 14px;
      }
    }
    .service-chart-wrapper {
      padding: 15px 30px;
    }
  }
}
