/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * topology style
 *
 * 2017-08-28
 * @author zhangxuan
 */

@import '../../../assets/style/core/index.less';

.topology {
  &-default {
    width: 260px;
    height: 200px;
    display: block;
    margin: 120px auto;
    text-align: center;
    p {
      color: @primaryColor;
    }
  }
  &-body {
    background-color: white;
    min-height: 960px !important;
    &-empty {
      width: 160px;
      height: 160px;
      display: block;
      margin: 120px auto;
      text-align: center;
      p {
        color: @primaryColor;
      }
    }
    &-relation-schema {
      border-right: 1px solid @borderColor;
    }
    .service-info {
      padding: 20px 30px;
      border-bottom: 1px solid @borderColor;
      &-name {
        font-size: 14px;
      }
      &-name, &-status {
        margin-bottom: 10px;
      }
      &-type {
        width: 80px;
        height: 80px;
      }
    }
    .service-chart-wrapper {
      padding: 15px 30px;
    }
  }
}
