/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of ServiceControl
 *
 * 2017-12-06
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.service-control {
  .ant-form-item-control {
    .ant-switch {
      margin-right: @padding-base;
    }
  }
  .ant-input-number {
    margin: 0 @padding-base;
  }
  .api-gateway-limit {
    &-label {
      & > i {
        color: @font-color-3;
        margin-left: 5px;
      }
    }
    .ant-select {
      width: calc(~"100% - 20px");
      margin-left: @padding-base;
      display: inline-block;
    }
    .ant-input-number {
      width: calc(~"100% - 100px");
    }
    .select-time {
      display: none;
    }
    .input-qps {
      width: 150px;
    }
    .qps-tips {
      margin-left: 5px;
    }
  }
}
