/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of ServiceOAuth
 *
 * 2018-01-15
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.service-oauth {
  .ant-form-item-control {
    .ant-switch {
      margin-right: @padding-base;
    }
  }
  .oauth-server {
    .desc-text {
      margin-top: @padding-base;
      line-height: initial;
    }
  }
}
