/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Performance style
 *
 * 2017-08-24
 * @author zhaoyb
 */
 .api-gateway {
  .page {
    //width: 20%;
    display: inline-block;
    float: right;
    .ant-pagination {
      float: right;
      margin-top: 2px;
      margin-left: 20px;
    }
    .total {
      margin-top: 6px;
      float: left;
    }
  }
 }
.api-gateway-has-open-policy {
  margin-left: 8px;
}
.api-gateway-stop-modal {
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    .icon {
      size: 26px;
      color: #ffbf00;
      margin-right: 16px;
    }
  }
  .checkbox {
    margin-left: 56px;
    margin-top: 8px;
  }
}
