/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * CallLinkTracking
 *
 * 2017-11-13
 * @author zhangpc
 */
@import '../../../assets/style/core/index.less';

.blown-monitoring {
  .monitor-wrapper {
    display: flex;
    margin-bottom: @padding-medium;

    @media screen and (max-width: 1540px) {
      .monitor-list {
        flex: 0 1 32%;
        &:not(:nth-of-type(3n + 3)) {
          margin-right: 2%;
        }
      }
    }

    @media screen and (min-width: 1541px) {
      .monitor-list {
        flex: 0 1 24%;
        &:not(:nth-of-type(4n + 4)) {
          margin-right: 1.3%;
        }
      }
    }
  }
}
