/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Available instance style
 *
 * 2017-12-04
 * @author zhangxuan
 */

@import '~assets/style/core/index.less';

.available-instance {
  &-search {
    width: 200px !important;
  }
  &-table {
    position: relative;
    .ant-pagination {
      position: absolute;
      right: 0;
      top: -78px;
    }
  }
  &-total {
    margin-right: 190px;
    line-height: 28px;
  }
}
