/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * CSB instance om style
 *
 * 2017-12-13
 * @author zhangxuan
 */

@import '~assets/style/core/index.less';

.csb-om {
  padding: 25px;
  background-color: white;
  &-radio {
    margin-bottom: 25px;
    .ant-radio-group {
      margin-left: 10px;
    }
  }
  &-total {
    margin-right: 190px;
    line-height: 28px;
  }
  &-table {
    position: relative;
    .ant-pagination {
      position: absolute;
      right: 0;
      top: -70px;
    }
    padding-bottom: 15px;
  }
}
