/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * CSB instance om style
 *
 * 2017-12-13
 * @author zhangxuan
 */

@import '~assets/style/core/index.less';

.csb-om {
  padding: 25px;
  background-color: white;
  &-radio {
    margin-bottom: 25px;
    .ant-radio-group {
      margin-left: 10px;
    }
  }
  &-table {
    padding-bottom: 15px;
  }
}
/* #app {
  .namespace-switch.hide +.msa-om {
    & > div.layout-sider, div.layout-content {
      margin-top: 88px;
    }
  }
} */
