/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Style of ServiceDetail
 *
 * 2017-12-07
 * @author zhangpc
 */

@import '~assets/style/core/index.less';

.service-detail {
  background-color: @backgroud-color-body;
  height: 100%;
  &-header {
    height: 160px;
    background-color: #fff;
    padding: @padding-large;
    &-icon {
      float: left;
      height: 100px;
      width: 100px;
      padding: 10px;
      border: 1px @border-style-base @border-color-split;
      border-radius: @border-radius-medium;
    }
    &-right {
      float: left;
      width: calc(~"100% - 100px - 24px");
      margin-left: 24px;
    }
    &-btns {
      text-align: right;
    }
  }
  &-body {
    margin: @padding-medium;
    padding: @padding-medium;
    background-color: #fff;
    height: 100%;
    .service-statistics {
      &-body {
        padding: 12px @padding-small @padding-large;
        & > .ant-row:first-child {
          border-bottom: 1px dashed @border-color-base;
          padding-bottom: @padding-small;
        }
        & > .ant-row:not(:first-child) {
          margin-top: @padding-small;
        }
      }
      &-item {
        & > div + div {
          & > span + span {
            color: @font-color-3;
          }
          & > span:first-child {
            font-size: 24px;
            margin-right: @padding-base;
          }
        }
        & > div:first-child {
          color: @font-color-3;
        }
      }
      &-and-monitor {
        .ant-calendar-picker {
          float: right;
        }
        & > div:first-child {
          font-size: 14px;
        }
      }
      .service-detail-body-monitor {
        padding-top: @padding-small;
        & > .ant-row:first-child {
          & > div + div {
            text-align: right;
          }
        }
      }
    }
    .service-protocols {
      margin-bottom: @padding-medium;
    }
    .service-parameters {
      margin-bottom: @padding-medium;
      .error-code {
        & > * {
          margin-bottom: @padding-small;
        }
        &-title {
          font-size: 14px;
        }
        .ant-table {
          .ant-table-thead, .ant-table-thead > tr > th {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
    .service-control {
      margin-bottom: @padding-medium;
    }
  }
}
