/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * ComponentManagement style
 *
 * 2018-09-30
 * @author zhaoyb
 */
.component-management {
  .component-management-btn {
    .pages {
      margin-top: 12px;
      display: inline-block;
      float: right;
      .total {
        margin-right: 20px;
      }
      .ant-pagination {
        display: inline;
      }
    }
  }
  .edit {
    margin-right: 10px;
  }
}
