
/**
 * APM style
 *
 * 2017-08-24
 * @author zhaoyb
 */

.layout-content-btns {
  .header {
    height: 50px;
    background: #fff;
  }
  .content {
    height: 30%;
    background: #fff;
    ul {
      margin: 20px;
      li {
        margin: 10px;
      }
    }
  }
}
