/**
 * APM style
 *
 * 2017-08-24
 * @author zhaoyb
 */

.layout-content-btns {
  .header {
    height: 40px;
    margin-right: 0;
    background: #fff;
  }
  .contents {
    height: 310px;
    border-top: 1px solid #ccc;
    background: #fff;
    .left {
      width: 452px;
      padding: 10px 40px;
      display: inline-block;
      .apms {
        margin-top: 20px;
        margin-bottom: 20px;
        & > div:first-child {
          text-align: right;
          padding-right: 10px;
          line-height: 25px;
        }
        & > div + div > * {
          margin-right: 8px;
        }
        .select {
          width: 300px;
        }
        .desc {
          line-height: 2;
        }
        .descs {
          line-height: 2;
          color: #ffbf00;
        }
        .version {
          line-height: 2;
        }
        .install {
          .ico {
            color: #5cb85c;
          }
          .existence {
            color: #5cb85c;
          }
          .again {
            cursor: pointer;
            color: #2db7f5;
            margin-left: 10px;
          }
          .unload {
            cursor: pointer;
            color: #f85a5a;
            margin-left: 10px;
          }
        }
      }

      .loding {
        width: 57%;
        display: inline-block;
        margin-left: 5%;
        span {
          color: #2db7f5;
        }
      }
    }
    .rigth {
      width: 40%;
      height: 310px;
      float: right;
      padding: 10px;
      display: inline-block;
      border-left: 1px solid #ccc;
      .select {
        width: 400px;
        margin-left: 40px;
        margin-top: 20px;
      }
      .projet {
        .des {
          font-size: 14px;
        }
        .not {
          width: 450px;
          margin-top: 20px;
          margin-left: 40px;
          .notInstalled {
            width: 400px;
            height: 80px;
            margin-top: 5px;
            overflow-y: scroll;
            word-wrap: break-word;
          }
        }
      }
      .already {
        margin-top: 10px;
        width: 450px;
        margin-left: 40px;
        .yes {
          .yesInstalled {
            width: 400px;
            overflow-y: scroll;
            word-wrap: break-word;
          }
        }
      }
    }
  }
  .prompt {
    height: 40px;
    background-color: #ffffe0;
  }
}
