#GlobalSetting {
  .configs {
    .img_col {
      width: 200px;
      text-align: center;
      padding-top: 4px;
      > img {
        display: inline-block;
      }
    }
    .form_col {
      width: calc(~"100% - 220px");
      .ant-form-item-label {
        width: 120px;
        text-align: left;
      }
    }
  }
}
