@import '../../../assets/style/core/index.less';
#GlobalSetting {
  .API_address {
    .img_col {
      width: 200px;
      text-align: center;
      padding-top: 4px;
      > img {
        display: inline-block;
      }
    }
    .form_col {
      width: calc(~"100% - 220px");
      .ant-form-item-label {
        width: 120px;
        text-align: left;
      }
    }
    .button_group {
      margin-left: 120px;
      margin-top: @padding-small;
      .cancel {
        margin-right: @padding-small;
      }
    }
  }
}
