/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * msaConfig-style
 *
 * 2017-09-13
 * @author zhaoyb
 */

.msa_config_style {

  .ant-card-body {
    padding-top: 1px !important;
  }
  .title {
    height: 40px;
    background: #fff;
    span {
      font-size: 16px;
    }
  }
  .conten {
    height: 310px;
    background-color: #fff;
    .left {
      float: left;
      margin-top: 24px;
      display: inline-block;
      .msa {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        & > div:first-child {
          line-height: 25px;
        }
        & > div + div > * {
          margin-right: 8px;
        }
        .btn_save {
          width: 50%;
          display: inline-block;
          position: absolute;
          left: 105%;
          top: 0;
          .close {
            margin-right: 10px;
          }
        }
        .btn_edit {
          position: absolute;
          left: 105%;
          top: 0;
        }
        .desc {
          line-height: 2;
        }
        .descs {
          line-height: 2;
          color: #ffbf00;
        }
        .install {
          line-height: 2;
          .ico {
            color: #5cb85c;
          }
          .existence {
            color: #5cb85c;
          }
          .again {
            cursor: pointer;
            color: #2db7f5;
            margin-left: 10px;
          }
          .unload {
            cursor: pointer;
            color: #f85a5a;
            margin-left: 10px;
          }
          .loding {
            width: 57%;
            display: inline-block;
            margin-left: 5%;
            span {
              color: #2db7f5;
            }
          }
        }
      }
      .first_row {
        margin-top: 0;
      }
    }
    .rigth {
      float: right;
      height: 310px;
      padding: 24px 0 0 24px;
      display: inline-block;
      border-left: 1px solid #ccc;
      .select {
        width: 400px;
      }
      .projet {
        .des {
          font-size: 14px;
        }
        .not {
          width: 450px;
          margin-top: 20px;
          .notInstalled {
            width: 400px;
            height: 80px;
            margin-top: 5px;
            overflow-y: scroll;
            word-wrap: break-word;
          }
        }
      }
      .already {
        margin-top: 10px;
        width: 450px;
        .yes {
          .yesInstalled {
            width: 400px;
            overflow-y: scroll;
            word-wrap: break-word;
          }
        }
      }
    }
    .ant-col-6 {
      width: 140px;
      text-align: left;
    }
    .ant-col-8,
    .ant-col-18 {
      width: calc(~"100% - 140px");
    }
  }
}
