/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * msaConfig-style
 *
 * 2017-09-13
 * @author zhaoyb
 */

.msa_config_style {
  .ant-card-head {
    margin-right: 0 !important;
  }
  .title {
    height: 40px;
    padding: 10px;
    background: #fff;
    span {
      font-size: 16px;
    }
  }
  .conten {
    height: 310px;
    background-color: #fff;
    .ant-col-6 {
      width: 140px;
      text-align: left;
    }
    .ant-col-8,
    .ant-col-18 {
      width: calc(~"100% - 140px");
    }
    .info {
      .msa {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        & > div:first-child {
          line-height: 25px;
        }
        & > div + div > * {
          margin-right: 8px;
        }
        .btn_save {
          display: inline-block;
          .close {
            margin-right: 10px;
          }
        }
        .desc {
          line-height: 2;
        }
        .install {
          .ico {
            color: #5cb85c;
          }
          .existence {
            color: #5cb85c;
          }
          .again {
            cursor: pointer;
            color: #2db7f5;
            margin-left: 10px;
          }
          .unload {
            cursor: pointer;
            color: #f85a5a;
            margin-left: 10px;
          }
          .loding {
            width: 57%;
            display: inline-block;
            margin-left: 5%;
            span {
              color: #2db7f5;
            }
          }
        }
      }
      .first_row {
        margin-top: 0;
      }
    }
  }
}
