/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * msaConfig-style
 *
 * 2017-09-13
 * @author zhaoyb
 */

.layout-content-btns {
  .title {
    height: 40px;
    padding: 10px;
    background: #fff;
    span {
      font-size: 14px;
    }
  }
  .conten {
    border-top: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    ul > li {
      padding: 10px;
      .server {
        margin-left: 10%;
      }
      .server-ipt {
        width: 300px;
        margin-left: 20px;
      }
      .close {
        margin: 0 10px;
      }
      .exit {
        margin-left: 14%;
      }
      .exit-ipt {
        width: 300px;
        margin-left: 20px;
      }
      .edit {
        margin: 0 10px;
      }
      .server-gitlab {
        margin-left: 8.6%;
      }
      .gitlab-address {
        width: 300px;
        margin-left: 20px;
      }
      .gitlab {
        width: 300px;
        margin-left: 22%;
      }
    }
  }
}
