/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * vouchers
 *
 * 2017-12-05
 * @author zhaoyb
 */
 .msa-comsumer-vouchers {
   .top {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
     .topLeft {
       float: left;
       .vou {
         margin-right: 10px;
       }
       .res {
         margin-right: 10px;
       }
       .del {
         margin-right: 10px;
       }
     }
     .topRigth {
      float: right;
      display: inline-block;
      .ant-pagination {
        display: inline;
      }
     }
   }
 }
