/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * vouchers
 *
 * 2017-12-05
 * @author zhaoyb
 */
 @import '~assets/style/core/index.less';

.csb-comsumer-vouchers {
  .top {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    .topLeft {
      float: left;
      .vou {
        margin-right: 10px;
      }
      .res {
        margin-right: 10px;
      }
      .del {
        margin-right: 10px;
      }
    }
    .topRigth {
      float: right;
      display: inline-block;
      span {
        margin-right: 20px;
      }
      .ant-pagination {
        display: inline;
      }
    }
  }
  .body {
    .keys {
      white-space: normal;
      .ant-row {
        width: 200px;
        max-width: 250px;
        .ant-col-2 {
          width: 10px;
          text-align: center;
        }
        .spread-icon {
          padding-left: 3px;
        }
        .text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .tip-value {
      color: @primary-color;
    }
  }
}
.modal-add-vouchers {
  margin-left: 30px;
  .vouchers-name {
    margin-right: 20px;
  }
  input {
    width: 70%;
  }
}
.modal-del-vouchers-tip {
  .img {
    position: absolute;
    top: 86px;
    left: 23px;
    .ico {
      font-size: 25px;
      color: @primary-color;
    }
  }
  .desc {
    width: 90%;
    margin-left: 40px;
  }
}
.modal-del-vouchers {
  height: 50px;
  background-color: #fffaf0;
  border: 1px dashed @warning-color;
  padding: 10px;
  border-radius: 4px;
  .img {
    position: absolute;
    top: 90px;
    left: 40px;
    i {
      font-size: 25px;
      color: @warning-color;
    }
  }
  .desc {
    width: 90%;
    margin-left: 40px;
    margin-top: 3px;
  }
}
.modal-up-vouchers {
  div {
    margin-bottom: 10px;
  }
  input {
    width: 95%;
    margin-top: 10px;
  }
  .dec {
    margin: 30px 0 0 15%;
    display: inline-block;
    .decs-title {
      color: @success-color;
      vertical-align: super;
    }
    .dec-ico {
      font-size: 25px;
      color: @success-color;
    }
  }
  .as-left {
    float: left;
    margin-bottom: 10px;
    display: inline-block;
    .text-ico {
      font-size: 15px;
      position: absolute;
      top: 35px;
      left: 33%;
    }
  }
  .as-rigth {
    float: right;
    display: inline-block;
    .text-ico {
      font-size: 15px;
      position: absolute;
      top: 35px;
      left: 101%;
    }
  }
  .as-current {
    width: 50%;
    margin-left: 20px;
  }
  .as-new {
    width: 50%;
    margin-left: 33px;
  }
}

.keys-popover {
  .key-value {
    color: #2db7f5;
    margin-right: 8px;
  }
  .anticon-copy {
    color: #2db7f5;
    cursor: pointer;
  }
}
