/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * update consumer voucher less
 *
 * 2017-12-05
 * @author zhaoyb
 */
@import '~assets/style/core/index.less';

.update-consumer-voucher {
  .ant-row {
    margin-bottom: 15px;
    .ant-col-4 {
      text-align: left;
    }
    .key-container {
      position: relative;
      .text-ico {
        position: absolute;
        top: 6px;
        right: 12px;
        font-size: 14px;
        cursor: pointer;
        color: @primary-color;
      }
    }
  }
}
