@import '../../../../../client/assets/style/core/index.less';
.ServiceMeshGraph {
  margin-top: 55px + @padding-medium;
  >div {
    margin: @padding-medium;
  }
  .searchBar {
    display: flex;
    >div, span {
      margin-right: @padding-base;
    }
  }
  .infoBar {
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    .meshInfo {
      color: @primary-color;
      padding-right: 50px;
    }
    >button {
      float: right;
      margin-right: @padding-base;
    }
    .ant-switch {
      margin-top: 4px;
      float: right;
    }
  }
  .SvgContainer {
    position: relative;
    height: 100vh - 35px;
  }
  .TimePickerButton {
    border: none;
    border-radius: 4px 0 0 4px;
  }
  .fiveButton {
    border-radius: 0 !important;
    border-left: none !important;
  }
  .daySelect, .firstTimeSelect {
    margin: 0 !important;
    input {
      border-left: 0 !important;
      border-right: 0 !important;
      border-radius: 0 !important;
    }
  }
  .secondTimeSelect {
    input {
      border-left: 0;
      border-radius: 0 4px 4px 0;
    }
  }
  .firstTimeSelect {
    .ant-time-picker-icon::after {
      content: '~';
    }
  }
}
