
.InOutGraph {
  position: relative;
  .tip {
    display: inline-block;
    width: 283px;
    text-align: right;
    border-bottom: 1px solid #ccc;
    position: absolute;
    right: 10px;
    top: 80px;
  }
}
