.TenxNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 4px solid #5db75d;
  border-radius: 30px;
  background-color: white;
  > div {
    font-size: 8px;
    text-align: center;
    height: 11px;
    &:last-child {
      margin-bottom: 4px;
    }
  }
}