@import "../../../../assets/style/core/index.less";
.TenxNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 4px solid #5db75d;
  border-radius: 30px;
  background-color: white;
  > div {
    font-size: 8px;
    text-align: center;
    height: 11px;
    &:last-child {
      margin-bottom: 4px;
    }
  }
  .nodeImg {
    height: 35px;
    width: 35px;
    margin-left: 8px;
    pointer-events: none;
    user-select: none;
  }
}
.RelationChartWrap {
  .lineLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    position: relative;
    left: -80px;
    color: @font-color-2;
  }
  .red {
    color: @error-color;
  }
  .nodeLabel {
    color: @font-color-2;
    background-color: white;
  }
}
