@import "../../../../assets/style/core/index.less";
.api-manage {
  .operation-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: @padding-medium;
    .left {
      display: flex;
      align-items: center;
      button {
        margin-right: @padding-base;
      }
    }
    .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        margin-right: @padding-base;
      }
    }
  }
  .ant-table-tbody {
    background: #fff;
  }
}
