/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2019 TenxCloud. All Rights Reserved.
 * ----
 * style of apiManage
 *
 * @author ZhouHaitao
 * @date 2019-03-06 10:42
 */

@import "../../../../assets/style/core/index.less";
.api-manage {
  .operation-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: @padding-medium;
    .left {
      display: flex;
      align-items: center;
      button {
        margin-right: @padding-base;
      }
    }
    .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        margin-right: @padding-base;
      }
    }
  }
  .ant-table-tbody {
    background: #fff;
  }
}
.api-manage-release, .api-manage-publish {
  .ant-form-item {
    margin-bottom: 0;
  }
  .warning-tips {
    color: @warning-color;
    margin: @padding-medium 0 0 20px;
    i {
      font-size: 16px;
      margin-right: 4px;
    }
  }
}
.api-manage-delete {
  .warning-tips {
    padding: @padding-small @padding-base;
    border: 1px dashed @warning-color;
    border-radius: @border-radius-base;
    background: #fefbf4;
    display: flex;
    i {
      font-size: 16px;
      margin-right: @padding-base;
      color: @warning-color;
    }
  }
}
