/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2017 TenxCloud. All Rights Reserved.
 */

/**
 * Header component style
 *
 * 2017-08-16
 * @author zhangpc
 */

 .layout-header {
  position: fixed;
  width: 100%;
  .logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
  }
  .layout-header-menu {
    line-height: 64px;
  }
}
